<shared-header></shared-header>
<section class="initial-section w-50 mx-auto">
  <div class="row mx-auto add_border">
    <div class="col-lg-12 mt-2">
      <h3>Cuestionario Arduino IoT Cloud</h3>
      <p>
        ¡Bienvenido al cuestionario de emparejamiento sobre la Plataforma Gratuita Arduino IoT Cloud! Este ejercicio
        tiene como objetivo evaluar tu entendimiento y retención de los conceptos clave presentados en el módulo. A
        continuación, encontrarás una serie de definiciones y términos relacionados con Arduino y su integración en el
        mundo del Internet de las Cosas (IoT).

        <br><br>

        <span class="bold">Instrucciones:</span>
        Deberás emparejar cada definición con el término correcto. Asegúrate de leer cuidadosamente cada definición y considera todos los términos antes de tomar una
        decisión. Una vez que hayas emparejado todas las definiciones con sus términos correspondientes, podrás revisar
        tus respuestas.
      </p>
    </div>
  </div>
  <hr>
  <div class="row mx-auto">
    <div *ngFor="let pregunta of preguntas; let i = index" class="col-lg-12 card-question"
      [ngClass]="{'correct': pregunta.status} ">
      {{ pregunta.pregunta }}
      <select class="mt-3 d-block" [(ngModel)]="respuestasSeleccionadas[i]" [disabled]="pregunta.status">
        <option *ngFor="let opcion of opciones" [value]="opcion.id">{{ opcion.opcion }}</option>
      </select>
    </div>
    <div class="col-lg-12 py-5">
      <button class="btn btn-success mt-2" (click)="comprobarRespuestas()">Evaluar cuestionario</button>
      <button class="btn btn-warning mt-2 ms-3" (click)="back()">Volver</button>
    </div>
  </div>
</section>

<shared-footer></shared-footer>
