<div class="row">
  <div class="col-lg-6">
    <pre class="language-language-markup line-numbers">
      <code class="language-c">{{ code }}
      </code>
      <span [style]="estilo" [style.top]="top_style" class="line-explain"> </span>
    </pre>
  </div>
  <div class="col-lg-5 text-center pass-container">
    <h4>Línea</h4>
    <p class="text-center  px-4">
      {{ line }}
    </p>
    <h4>Explicación</h4>
    <p style="text-align: justify" class="text-start px-4">
      {{ explain_txt }}
    </p>
  </div>
  <div class="col-lg-12 text-center mt-4 contenedor">
    <button class="btnColor miBoton"  [style]="estiloEx" (click)="ocultar()">Ver explicación</button>
    <a class="btn btn-primary colorButton" [style]="estilo" (click)="back()"><</a>
    <a class="btn btn-primary ms-2 colorButton" [style]="estilo"  (click)="next()">></a>
  </div>
</div>
