<div class="row">
  <div class="col-lg-7">
    <pre class="language-language-markup line-numbers">
      <code class="language-c">{{ code }}
      </code>
      <span [style]="estilo" [style.top]="top_style" class="line-explain"> </span>
    </pre>
  </div>
  <div class="col-lg-5 text-center pass-container background">
    <h4 style="color: white;">Línea</h4>
    <p  style="color: black;" class="text-center container">
      {{ line }}
    </p>
    <h4 style="color: white;">Explicación</h4>
    <p style="text-align: justify; color: black;" class="text-start container1">
      {{ explain_txt }}
    </p>
    <button class="colorButton miBoton"  [style]="estiloEx" (click)="ocultar()">Ver explicación</button>
    <div>
      <a class="btn btn-primary colorButton" [style]="estilo" (click)="back()"><</a>
      <a class="btn btn-primary ms-2 colorButton" [style]="estilo"  (click)="next()">></a>
    </div>
    <!-- <div class="row mx-auto bg-dark">
      <div class="col-lg-12 text-center mt-4 contenedor">
        <button class="colorButton miBoton"  [style]="estiloEx" (click)="ocultar()">Ver explicación</button>
        <a class="btn btn-primary colorButton" [style]="estilo" (click)="back()"><</a>
        <a class="btn btn-primary ms-2 colorButton" [style]="estilo"  (click)="next()">></a>
      </div>
    </div> -->
  </div>
</div>
