<shared-header></shared-header>
<section class="initial-section maxwidth mb-5">
  <div class="progress mb-5" #progressBar>
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressValue"></div>
  </div>

  <div class="row" style="justify-content: center" #questionNum1>
    <div class="col-lg-20 section-1 ColorFondo">
      <h3>Problemática 1: Programación del Encendido de Luces a las 6 de la Tarde</h3>
      <p>
        Eres el dueño de una casa inteligente con sistemas de automatización avanzados,
         y te encuentras frente a un desafío: necesitas programar las luz de las habitaciónes
          para que se enciendan automáticamente todos los días a las 6 de la tarde. Esta
           automatización te permitirá crear un ambiente acogedor al atardecer y hacer que tu
           hogar sea más eficiente energéticamente.
      </p>
      <h3>Desafio de programación:</h3>
      <p>
        Para lograr esta programación, te presentamos un bloque de código ya definido.
        Tu tarea es <b>identificar el error del codigo</b> y seleccionar la opción correcta para que las luz
        de las habitaciónes se enciendan puntualmente a las 6 de la tarde.
      </p>
      <p><b>Nota:</b>  Si tu respuesta es correcta y le das en el boton enviar, veras que prende la luz en los lugares que se desea, indicando
        que fue correcta la respuesta.
      </p>
      <section class="ContenedorPadre">
        <div>
          <app-simulacion-luces [Cuarto1]="cuarto1" [Cuarto2]="cuarto2"></app-simulacion-luces>
          <h5 [ngClass]="{'ActivarMensajeError':ActivarMensajeError, 'MensajeError':ActivarEstiloError}">¡Error! respuesta incorrecta</h5>
        </div>

        <div>

          <app-aplication-code [code]="CODE1" ></app-aplication-code>
          <div class="w-75 mx-auto mt-3">

          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer1" [(ngModel)]="selectedQuestion1" name="question1" id="question11" checked/>
            <label class="form-check-label" for="question11">Las horas estan mal declaradas.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer2" [(ngModel)]="selectedQuestion1" name="question1" id="question12"/>
            <label class="form-check-label" for="question12">En la linea 9 el operador logico no es correcto usar <b>&&</b> debe ser <b>and</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer3" [(ngModel)]="selectedQuestion1" name="question1" id="question13"/>
            <label class="form-check-label" for="question13">En la linea 3 el puerto de debe delcara como salida, no como entrada <b>pinMode(13, OUTPUT);</b>.
            </label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer4" [(ngModel)]="selectedQuestion1" name="question1" id="question14" checked/>
            <label class="form-check-label" for="question14">Cambiar la hora deseada <b>horaDeseada</b> como <b>int horaDeseada = 12;</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer5" [(ngModel)]="selectedQuestion1" name="question1" id="question15"/>
            <label class="form-check-label" for="question15">Cambiar la declaración de <b>horaDeseada</b>  y <b>horaLimite</b>  para que sean flotantes en lugar de enteros, como <b>float horaDeseada = 18.0;</b>
            y <b>float horaLimite = 23.0;</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer6" [(ngModel)]="selectedQuestion1" name="question1" id="question16"/>
            <label class="form-check-label" for="question16">Cambiar la condición en la línea if para que siempre sea verdadera, como <b>if (true)</b>.</label>
          </div>

          <button style="margin-right: 10px" class="btn btn-success mt-4" (click)="onClickEnviar(0)">Enviar</button>

          <button class="btn btn-success mt-4" [disabled]="botonSiguienteDisabled" (click)="onClick(0)">Siguiente</button>
        </div>
        </div>

      </section>
    </div>
  </div>



  <div class="row" style="justify-content: center" #questionNum2>
    <div class="col-lg-20 section-1 ColorFondo">
      <h3>Problemática 2: Control de Iluminación en una Casa Inteligente</h3>
      <p>
        Imagina que posees una casa inteligente con sistemas de iluminación automatizada en la cocina y la sala.
         Deseas crear un ambiente acogedor en estas áreas y ahorrar energía al mismo tiempo. Tu objetivo es programar
         las luces para que se enciendan automáticamente al atardecer y se apaguen a una hora específica en la noche,
          cuando normalmente te retiras a dormir.
      </p>
      <h3>Desafio de programación:</h3>
      <p>
        Para lograr esta programación, te presentamos un bloque de código ya definido.
        Tu tarea es <b>identificar el error del codigo</b> y seleccionar la opción correcta para que la simulacion de automatización funcione.
      </p>
      <p><b>Nota:</b>  Si tu respuesta es correcta y le das en el boton enviar, veras que prende la luz en los lugares que se desea, indicando
        que fue correcta la respuesta.
      </p>
      <section class="ContenedorPadre">
        <div style="margin-top: 200px;">
          <app-simulacion-luces [Sala]="sala" [Cocina]="cocina"></app-simulacion-luces>
          <h5 style="margin-top: 400px;"  [ngClass]="{'ActivarMensajeError':ActivarMensajeError, 'MensajeError':ActivarEstiloError}">¡Error! respuesta incorrecta</h5>
        </div>

        <div>
          <app-aplication-code [code]="CODE2" ></app-aplication-code>
          <div class="w-75 mx-auto mt-3">

          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer1" [(ngModel)]="selectedQuestion2" name="question2" id="question21" checked/>
            <label class="form-check-label" for="question11">los puertos <b>(PinLuzCocina y PinLuzSala)</b> deben ser de entrada <b> NO de salida</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer2" [(ngModel)]="selectedQuestion2" name="question2" id="question22"/>
            <label class="form-check-label" for="question12">El estado de la escritura de los puertos <b>(PinLuzCocina y PinLuzSala)</b> estan mal declarados
            (lineas de codigo 23, 24 y 26, 27).</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer3" [(ngModel)]="selectedQuestion2" name="question2" id="question23"/>
            <label class="form-check-label" for="question13">El <b>else</b> de la  lines 13 afecta en el proceso del codigo, por lo tanto es necesario eliminarlo.</label>
          </div>




          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer4" [(ngModel)]="selectedQuestion2" name="question2" id="question24" checked/>
            <label class="form-check-label" for="question11">Cambiar la condición en el bucle <b>loop</b> para que dependa de la hora del día en lugar de la luminosidad.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer5" [(ngModel)]="selectedQuestion2" name="question2" id="question25"/>
            <label class="form-check-label" for="question12">Cambiar la configuración del sensor de luz para utilizar una ganancia más alta, como <b>tsl.setGain(TSL2591_GAIN_HIGH);</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer6" [(ngModel)]="selectedQuestion2" name="question2" id="question26"/>
            <label class="form-check-label" for="question13"> Modificar la configuración del sensor de luz para utilizar un tiempo de integración más corto, como <b>tsl.setIntegrationTime(TSL2591_INTEGRATIONTIME_100MS);</b>.</label>
          </div>


          <button style="margin-right: 10px" class="btn btn-success mt-4" (click)="onClickEnviar(1)">Enviar</button>

          <button class="btn btn-success mt-4" [disabled]="botonSiguienteDisabled" (click)="onClick(1)">Siguiente</button>
        </div>
        </div>

      </section>
    </div>

  </div>




  <div class="row" style="justify-content: center" #questionNum3>
    <div class="col-lg-20 section-1 ColorFondo">
      <h3>Problemática 3: Control de Iluminación en el Baño con Detección de Movimiento</h3>
      <p>
        Imagina que deseas implementar un sistema de iluminación automática en el baño de tu casa.
        La idea es que la luz del baño se encienda automáticamente cuando detecte movimiento y se apague
        después de un período de tiempo si no se detecta movimiento. Esto no solo proporcionará comodidad,
        sino también ahorro de energía al asegurarse de que la luz solo esté encendida cuando sea necesaria.
      </p>
      <h3>Desafio de programación:</h3>
      <p>
        Para lograr esta programación, te presentamos un bloque de código ya definido.
        Tu tarea es <b>identificar el error del codigo</b> y seleccionar la opción correcta para que la simulacion de automatización funcione.
      </p>
      <p><b>Nota:</b>  Si tu respuesta es correcta y le das en el boton enviar, veras que prende la luz del lugar que se desea, indicando
        que fue correcta la respuesta.
      </p>
      <section class="ContenedorPadre">
        <div style="margin-top: 50px;">
          <app-simulacion-luces [Bano]="bano"></app-simulacion-luces>
          <h5 [ngClass]="{'ActivarMensajeError':ActivarMensajeError, 'MensajeError':ActivarEstiloError}">¡Error! respuesta incorrecta</h5>
        </div>

        <div>
          <app-aplication-code [code]="CODE3" ></app-aplication-code>
          <div class="w-75 mx-auto mt-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer1" [(ngModel)]="selectedQuestion3" name="question3" id="question31" checked/>
            <label class="form-check-label" for="question11">No se esta escribiendo nada en el puerto <b> pinSensorMovimiento </b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer2" [(ngModel)]="selectedQuestion3" name="question3" id="question32"/>
            <label class="form-check-label" for="question12">En la linea 12 el operador logico no el correcto, se debe usar mayor <b>(>)</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer3" [(ngModel)]="selectedQuestion3" name="question3" id="question33"/>
            <label class="form-check-label" for="question13"> De acuerdo el codigo, la luz nunca se paga una vez que el sensor de movimiento se activo. Por lo tanto
              se debe validar tambien cuando el sensor de desactivo.</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer4" [(ngModel)]="selectedQuestion3" name="question3" id="question34" checked/>
            <label class="form-check-label" for="question14">Eliminar la línea que declara <b>pinLuzBano</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer5" [(ngModel)]="selectedQuestion3" name="question3" id="question35"/>
            <label class="form-check-label" for="question15">Cambiar la declaración de <b>pinSensorMovimiento</b> para que use un pin analógico en lugar de un pin digital, como <b> int pinSensorMovimiento = A0;</b>.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer6" [(ngModel)]="selectedQuestion3" name="question3" id="question36"/>
            <label class="form-check-label" for="question16">Comentar completamente la línea que declara <b>pinSensorMovimiento</b>, esta linea no esta generando problemas en el codigo.</label>
          </div>



          <button style="margin-right: 10px" class="btn btn-success mt-4" (click)="onClickEnviar(2)">Enviar</button>

          <button class="btn btn-success mt-4" [disabled]="botonSiguienteDisabled" (click)="onClick(2)">Siguiente</button>
        </div>
        </div>

      </section>
    </div>

  </div>


<div class="row" style="justify-content: center" #questionNum4>
    <div class="col-lg-20 section-1 ColorFondo">
      <h3>Problemática 4: Sistema de Riego Automático</h3>
      <p>
        Un agricultor cultiva un campo de berenjena,tomate y maiz, necesita un sistema de riego automático para garantizar que sus cultivos
        reciban la cantidad adecuada de agua. El clima es variable, y el agricultor quiere conservar agua y energía al evitar
        el riego excesivo o insuficiente. Desea que el sistema de riego se active solo cuando el suelo esté seco y que se apague
        cuando se haya alcanzado un nivel óptimo de humedad.
      </p>

      <h3>Descripción del Problema:</h3>
      <p>
          El agricultor necesita un sistema de riego automático que utilice sensores de humedad en el suelo para determinar cuándo
          es necesario regar los cultivos y cuándo detener el riego. Además, desea que el sistema sea programable para establecer
          horarios específicos de riego y evitar el riego durante la lluvia.
      </p>

      <h3>Desafio de programación:</h3>
      <p>
        El código a continuación simula un sistema de riego automático. Sin embargo, hay un <b>error</b> en el código que necesita corrección.
        El sistema de riego no está funcionando como se espera y debe asegurarse de que se active cuando la humedad sea baja y se apague
        cuando la humedad sea suficiente. Identifique y corrija el error en el código para que el sistema de riego funcione correctamente.
      </p>
      <p><b>Nota:</b>  Si tu respuesta es correcta y le das en el boton enviar, veras en la imagen como se activa ciertas zona, indicando
        que fue correcta la respuesta.
      </p>
      <section class="ContenedorPadre">
        <div style="margin-top: 50px;">
          <app-simulacion-agricola [Berenjena]="berenjena" [Berenjena1]="berenjena1"  [Berenjena2]="berenjena2" [Berenjena21]="berenjena21"
          [Flor1]="flor1" [Flor12]="flor12"  [Flor2]="flor2" [Flor21]="flor21">
          </app-simulacion-agricola>
          <h5 [ngClass]="{'ActivarMensajeError':ActivarMensajeError, 'MensajeError':ActivarEstiloError}">¡Error! respuesta incorrecta</h5>
        </div>

        <div>
          <app-aplication-code [code]="CODE4" ></app-aplication-code>
          <div class="w-75 mx-auto mt-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer1" [(ngModel)]="selectedQuestion4" name="question4" id="question41" checked/>
            <label class="form-check-label" for="question11"> En la línea 12  <b>(if (valHumedad < 300))</b>  no controla adecuadamente el riego. Actualmente, solo
              verifica si la humedad es inferior a 300 y no tiene en cuenta un umbral superior para detener el riego.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer2" [(ngModel)]="selectedQuestion4" name="question4" id="question42"/>
            <label class="form-check-label" for="question12">En la linea 19 la escirtura debe ser bajo (LOW) y la linea 22 debe ser alto (HAIGH).</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer3" [(ngModel)]="selectedQuestion4" name="question4" id="question43"/>
            <label class="form-check-label" for="question13">El Serial.begin(9600) no aporta funcionalidad al codigo.</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer4" [(ngModel)]="selectedQuestion4" name="question4" id="question44" checked/>
            <label class="form-check-label" for="question14">El analogRead no me puede leer sensores, por ende la linea 16 esta erronea.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer5" [(ngModel)]="selectedQuestion4" name="question4" id="question45"/>
            <label class="form-check-label" for="question15">el delay me detiene el codigo durante 1 minuto lo que hace que el sistema sea lento.</label>
          </div>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="answer6" [(ngModel)]="selectedQuestion4" name="question4" id="question46"/>
            <label class="form-check-label" for="question16">El pin de la valvula debe ser analógico.</label>
          </div>


          <button style="margin-right: 10px" class="btn btn-success mt-4" (click)="onClickEnviar(3)">Enviar</button>
          <button class="btn btn-success mt-4" [disabled]="botonSiguienteDisabled" (click)="onClick(3)">Siguiente</button>
        </div>
        </div>
      </section>
    </div>
</div>


<div class="row" style="justify-content: center" #questionNum5>
  <div class="col-lg-20 section-1 ColorFondo">
    <h3>Problemática 5: Cultivo de Zanahorias</h3>
    <p>
      Hay una problemática relacionada con el cultivo de zanahorias en una granja.
      Los agricultores enfrentan dificultades en el control del crecimiento y la calidad
       de las zanahorias debido a las condiciones climáticas variables y la falta de información
       en tiempo real sobre el estado de las plantas. A menudo, las zanahorias no alcanzan su
       tamaño óptimo y pueden estar sujetas a enfermedades o condiciones de suelo inadecuadas
    </p>

    <h3>Descripción  del problema:</h3>
    <p>
      El problema radica en la falta de control y monitoreo precisos del crecimiento de las zanahorias.
       Los agricultores desean optimizar el riego, la temperatura y otros factores para garantizar que las
       zanahorias crezcan de manera uniforme y alcancen su tamaño y calidad deseada. Además, desean recibir
       alertas en tiempo real sobre cualquier problema que pueda afectar el cultivo, como sequías o enfermedades.
    </p>


    <h3>Desafio de programación:</h3>
    <p>
      A continuación, se presenta un código en Arduino que simula la lectura de un sensor de humedad del suelo y
      envía los datos a través de un módulo WiFi (como el módulo ESP8266) a una plataforma en la nube. Este código
      tiene un error intencional que deberá ser corregido por el usuario.
    </p>
    <p><b>Nota:</b>  Si tu respuesta es correcta y le das en el boton enviar, veras que prende la luz del lugar que se desea, indicando
      que fue correcta la respuesta.
    </p>
    <section class="ContenedorPadre">
      <div style="margin-top: 450px;">
        <app-simulacion-agricola [Zanaoria1]="zanaoria1" [Zanaoria11]="zanaoria11" [Zanaoria2]="zanaoria2" [Zanaoria21]="zanaoria21"> </app-simulacion-agricola>
        <h5 style="margin-top: 400px;" [ngClass]="{'ActivarMensajeError':ActivarMensajeError, 'MensajeError':ActivarEstiloError}">¡Error! respuesta incorrecta</h5>
      </div>

      <div>
        <app-aplication-code [code]="CODE5" ></app-aplication-code>
        <div class="w-75 mx-auto mt-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" value="answer1" [(ngModel)]="selectedQuestion5" name="question5" id="question51" checked/>
          <label class="form-check-label" for="question11">Falta definir la varable en el <b>void setup()</b>  donde se va almacenar los datos del sensor de humedad <b>humedadSuelo = analogRead(sensorHumedad);</b>.</label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="answer2" [(ngModel)]="selectedQuestion5" name="question5" id="question52"/>
          <label class="form-check-label" for="question12">Falta definir la varable en el <b>void loop()</b>  donde se va almacenar los datos del sensor de humedad <b>humedadSuelo = analogRead(sensorHumedad);</b>.</label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="answer3" [(ngModel)]="selectedQuestion5" name="question5" id="question53"/>
          <label class="form-check-label" for="question13">Cambiar la declaración del sensor de humedad para que use un pin digital en lugar de un pin analógico, como <b>const int sensorHumedad = 2;</b>.</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" value="answer4" [(ngModel)]="selectedQuestion5" name="question5" id="question54"/>
          <label class="form-check-label" for="question14">Comentar la línea que construye la URL para enviar los datos a ThingSpeak. Esto evitará que se envíen los datos.</label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="answer5" [(ngModel)]="selectedQuestion5" name="question5" id="question55"/>
          <label class="form-check-label" for="question15">Eliminar completamente el bloque de código que se encarga de la conexión y envío de datos a ThingSpeak, dejando únicamente la parte de lectura del sensor de humedad.</label>
        </div>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="answer6" [(ngModel)]="selectedQuestion5" name="question5" id="question56"/>
          <label class="form-check-label" for="question16">El <b>Serial.println("Error al conectar a ThingSpeak");</b> me genera error al conectar con el servidor.</label>
        </div>

        <button style="margin-right: 10px" class="btn btn-success mt-4" (click)="onClickEnviar(4)">Enviar</button>

        <button class="btn btn-success mt-4" [disabled]="botonSiguienteDisabled" (click)="onClick(4)">Siguiente</button>
      </div>
      </div>
    </section>
  </div>
</div>


  <div class="row" #finalSection>
    <div class="col-lg-12 section-final">
      <img [src]="imagePath" alt="correct.png">
      <h3>{{ titleMsg }}</h3>
      <p>{{ bodyMsg }}<br>
        Respuestas correctas: <span style="color: black;">{{ correctAnswer }}</span> <br>
        Respuestas incorrectas: <span style="color: black;">{{ incorrectAnswer }}</span>
      </p>
      <div>
        <a href="#" class="btn btn-primary ms-3" [routerLink]="ROUTE_PATH_INTRODUCTION" routerLinkActive="router-link-active" >Volver módulo actual</a>
      </div>
    </div>
  </div>

</section>
<shared-footer></shared-footer>
