<shared-header></shared-header>
<section style="max-width:70%; margin-bottom: 50px;" class="initial-section maxwidth">
  <div class="row">
    <shared-button-go-back></shared-button-go-back>
  </div>
  <div class="row mb-5">
    <div class="col-lg-12 text-left">
      <h3>5. Plataformas IoT</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>1.1 <span style="font-weight: bold;">Definición de plataformas IoT</span></h3>
      <hr>
      <div class="row mx-auto">
        <div class="col-lg-6">
          <p>
            Las plataformas IoT son soluciones integradas que facilitan la conexión, gestión, y análisis de dispositivos
            en
            el Internet de las Cosas. Funcionan como el "middleware" o intermediario entre el hardware (dispositivos y
            sensores) y las aplicaciones de usuario, proporcionando servicios esenciales como la recopilación de datos,
            almacenamiento, procesamiento y seguridad.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            Las plataformas IoT actúan como el puente vital entre los componentes del hardware del Internet de las Cosas
            (dispositivos y sensores) y la capa de aplicación que se presenta al usuario final. Estas plataformas
            gestionan y facilitan la comunicación, el análisis de datos, la funcionalidad de la aplicación y, en última
            instancia, la entrega de los servicios de IoT.
          </p>
        </div>
        <div class="col-lg-12 mt-5">
          <h3 class="text-center">Componentes Principales</h3>
          <div class="row mx-auto">
            <div class="col-lg-6 mt-5">
              <p>
                <span class="bold">Interfaz de Comunicación:</span> Las plataformas IoT deben ser capaces de comunicarse
                con una variedad de
                dispositivos, cada uno de los cuales puede usar diferentes protocolos y estándares de comunicación. Esta
                interfaz garantiza que la transmisión de datos entre el dispositivo y la plataforma se realice de manera
                fluida y coherente.
              </p>
              <p class="mt-5">
                <span class="bold">Gestión de Dispositivos:</span> Una vez que los dispositivos están en línea,
                necesitan ser monitoreados y
                gestionados. Esto incluye actualizaciones de software, diagnósticos, y a menudo la detección y
                corrección de problemas antes de que afecten a los usuarios o al sistema en general.
              </p>
              <p class="mt-5">
                <span class="bold">Procesamiento de Datos:</span> Los dispositivos de IoT generan grandes cantidades de
                datos. Las plataformas
                deben ser capaces de procesar estos datos en tiempo real para extraer información valiosa o realizar
                acciones específicas.
              </p>
            </div>
            <div class="col-lg-6 mt-5">
              <p>
                <span class="bold">Integración de Aplicaciones:</span> Las plataformas ofrecen APIs y otros servicios
                para permitir que los
                desarrolladores creen aplicaciones que utilicen los datos y capacidades del sistema IoT. Estas
                aplicaciones pueden ser para consumidores, como una app de hogar inteligente, o para negocios, como una
                herramienta de seguimiento de activos.
              </p>
              <p class="mt-5">
                <span class="bold">Seguridad:</span> Es vital que las plataformas IoT proporcionen mecanismos robustos
                para garantizar la
                seguridad de los dispositivos, los datos y las interacciones de los usuarios. Esto incluye la protección
                contra amenazas externas, así como la garantía de privacidad de los datos del usuario.
              </p>
              <div>
                <img class="w-100" src="../../../../assets/plataformas-iot/plataformas_iot_intro.jpg"
                  alt="plataformas_iot_intro.jpg">
              </div>
            </div>
            <div class="col-lg-12 mt-5">
              <h3>Función en el ecosistema IoT</h3>
              <p>
                Las plataformas IoT actúan como el "sistema operativo" del Internet de las Cosas. Al igual que un
                sistema operativo en una computadora coordina entre el hardware y las aplicaciones, una plataforma IoT
                coordina entre los dispositivos de IoT y las aplicaciones o servicios que se construyen sobre ellos.
                Además, estas plataformas ofrecen una serie de servicios adicionales que simplifican y aceleran el
                desarrollo de soluciones IoT, desde la conectividad y la gestión de dispositivos hasta las analíticas
                avanzadas.
                <br>
                En esencia, las plataformas IoT proporcionan un conjunto de herramientas y servicios integrados
                diseñados para abordar los desafíos técnicos y operativos comunes de los proyectos IoT, permitiendo a
                las empresas y desarrolladores centrarse en la creación de soluciones innovadoras y personalizadas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5">
          <h4>Ejemplos practicos de plataformas IoT</h4>
          <div class="row mx-auto mt-5">
            <div class="col-lg-4">
              <h5>Sistema de Monitoreo de Calidad del Aire en una Ciudad</h5>
              <p>
                Plataforma IoT: Una solución basada en la nube que recopila datos de múltiples sensores de calidad del
                aire distribuidos por toda la ciudad.
              </p>
              <ul>
                <li>
                  <p>
                    <span class="bold">Interfaz de Comunicación:</span> Los sensores utilizan protocolos como MQTT para
                    transmitir datos en tiempo
                    real a la plataforma.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Gestión de Dispositivos:</span> La plataforma verifica que todos los sensores
                    estén en línea, realiza
                    actualizaciones de firmware y gestiona la autenticación de los dispositivos.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Procesamiento de Datos:</span> La plataforma analiza los datos en tiempo real
                    para identificar niveles elevados de contaminantes y potenciales riesgos para la salud.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Integración de Aplicaciones:</span> Los datos se presentan a través de una
                    aplicación pública donde los ciudadanos pueden revisar la calidad del aire en sus áreas locales y
                    recibir alertas.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5>Sistema de Agricultura Inteligente</h5>
              <p>
                Plataforma IoT: Un sistema centralizado que monitoriza y controla dispositivos en una granja, desde
                estaciones meteorológicas hasta sistemas de riego automatizados.
              </p>
              <ul>
                <li>
                  <p>
                    <span class="bold">Interfaz de Comunicación:</span> Se utilizan diferentes protocolos para conectar
                    drones de inspección, sensores de humedad del suelo, y otros dispositivos agrícolas.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Gestión de Dispositivos:</span> La plataforma identifica qué áreas de la granja
                    necesitan riego, basándose en los datos de los sensores y las previsiones meteorológicas.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Procesamiento de Datos:</span> Se procesa la información para optimizar el riego,
                    la siembra y la fertilización, basándose en condiciones en tiempo real y patrones históricos.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Integración de Aplicaciones:</span> Los agricultores utilizan una aplicación que
                    muestra visualmente los datos de su granja y les permite controlar los sistemas de riego o
                    inspeccionar zonas específicas con drones.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5>Gestión de Flotas de Vehículos</h5>
              <p>
                Plataforma IoT: Un sistema basado en la nube que rastrea y gestiona vehículos, desde camiones de entrega
                hasta vehículos de alquiler.
              </p>
              <ul>
                <li>
                  <p>
                    <span class="bold">Interfaz de Comunicación:</span> Se utilizan diferentes protocolos para conectar
                    drones de inspección, sensores de humedad del suelo, y otros dispositivos agrícolas.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Gestión de Dispositivos:</span> La plataforma monitoriza el estado de cada
                    vehículo, su ubicación, el consumo de combustible y cualquier problema mecánico potencial.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Procesamiento de Datos:</span> Se analizan los datos para optimizar las rutas,
                    programar mantenimientos y mejorar la eficiencia general de la flota.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="bold">Integración de Aplicaciones:</span> Los gestores de flotas utilizan aplicaciones
                    y paneles de control para ver el estado en tiempo real de su flota y tomar decisiones informadas.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-lg-12">
              <p>
                Estos ejemplos muestran cómo las plataformas IoT sirven como el nexo entre dispositivos físicos y
                soluciones digitales, permitiendo la creación de sistemas y aplicaciones que mejoran la eficiencia, la
                seguridad y la toma de decisiones basada en datos.
              </p>
            </div>
          </div>
          <div class="row mx-auto mt-5">
            <div class="col-lg-12 my-3">
              <h4>Ejemplos código plataformas IoT</h4>
            </div>
            <div class="col-lg-12">
              <h5>Sistema de Monitoreo de Calidad del Aire en una Ciudad</h5>
              <p>
                Un sensor de calidad del aire transmite datos a una plataforma IoT utilizando MQTT.
              </p>
            </div>
            <div class="col-lg-12">
              <app-precode [code]="CODE1" [LINE_CODE]="LINE_CODE1" [top]="top" [explain]="explain1"
                [max_line]="max_line1"></app-precode>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
