<shared-header></shared-header>
<section style="max-width:70%; margin-bottom: 50px;" class="initial-section maxwidth">
  <div class="row">
    <shared-button-go-back></shared-button-go-back>
  </div>
  <div class="row mb-5">
    <div class="col-lg-12 text-left">
      <h3>2 Introducción a la Electrónica</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>2.1 <span style="font-weight: bold;">Conceptos básicos: Corriente, Voltaje, Resistencia.</span></h3>
      <hr>
      <h3>Corriente</h3>
      <p>
        La corriente eléctrica es uno de los conceptos fundamentales en la electrónica y la física. La corriente
        eléctrica
        se refiere al movimiento de cargas eléctricas a través de un conductor, como un alambre. Esencialmente, es el
        flujo de electrones.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <h5>Tipos de corriente</h5>
          <p>
            <span style="font-weight: bold;">Corriente Continua (CC o DC, por sus siglas en inglés "Direct
              Current"):</span> En este tipo de corriente, los
            electrones fluyen constantemente en una sola dirección. Las baterías producen corriente continua.
          </p>
          <p>
            <span style="font-weight: bold;">Corriente Alterna (CA o AC, por sus siglas en inglés "Alternating
              Current"):</span> En la corriente alterna, los
            electrones cambian de dirección de flujo periódicamente. La electricidad que proviene de las tomas de pared
            en
            nuestros hogares es corriente alterna. La corriente alterna es preferida para la transmisión de energía en
            largas distancias, como en redes eléctricas, debido a sus propiedades y la facilidad con la que puede ser
            transformada en diferentes voltajes utilizando transformadores.
          </p>
        </div>
        <div class="col-lg-6 mt-3">
          <p>
            En resumen, la corriente eléctrica es esencial para la mayoría de las tecnologías modernas, desde la
            iluminación
            y la calefacción hasta la comunicación y la computación. Entender cómo se genera, se controla y se utiliza
            es
            clave en campos como la ingeniería eléctrica y la electrónica.
          </p>
          <div>
            <img class="w-100" src="../../../../assets/fundamentos/corriente_modulo.jpg" alt="corriente_modulo.jpg">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 my-3">
          <h4>Ejemplos practicos de corriente</h4>
        </div>
        <div class="col-lg-4">
          <h5>Baterías de un Control Remoto</h5>
          <p>
            Cuando presionas un botón en un control remoto de televisión, las baterías en su interior proporcionan
            corriente continua (CC) para alimentar el circuito interno. Este circuito, a su vez, envía una señal
            infrarroja al televisor para ejecutar una acción, como cambiar el canal o ajustar el volumen.
          </p>
        </div>
        <div class="col-lg-4">
          <h5>Carga de un Teléfono Móvil</h5>
          <p>
            Al conectar tu teléfono móvil a un cargador, el cargador convierte la corriente alterna (CA) de la toma de
            pared a corriente continua (CC), adecuada para cargar la batería del teléfono. La corriente fluye desde el
            cargador hacia la batería del teléfono, cargándola.
          </p>
        </div>
        <div class="col-lg-4">
          <h5>Tostadora Eléctrica</h5>
          <p>
            Al enchufar una tostadora y encenderla, permite que la corriente alterna (CA) del hogar fluya a través de
            sus resistencias internas. Debido al efecto Joule, esta corriente produce calor, el cual es utilizado para
            tostar el pan.
          </p>
        </div>
        <div class="col-lg-12 my-3">
          <h4>Ejemplos código de corriente</h4>
        </div>
        <div class="col-lg-12">
          <h5>Control Remoto con Microcontrolador</h5>
          <p>
            Imagina que tienes un control remoto basado en un microcontrolador como Arduino. Este control remoto tiene
            botones para aumentar y disminuir el volumen de un dispositivo, y cuando se presiona un botón, el
            microcontrolador envía una señal correspondiente.
            Aquí hay un ejemplo simplificado de código en el lenguaje de programación Arduino (basado en C++)
          </p>
        </div>
        <div class="col-lg-12">
          <app-precode [code]="CODE1" [LINE_CODE]="LINE_CODE1" [top]="top" [explain]="explain1"
            [max_line]="max_line1"></app-precode>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-5">
      <h3 class="mt-5">Voltaje (o Tensión Eléctrica)</h3>
      <p>
        El voltaje, también conocido como diferencia de potencial o tensión eléctrica, es la "fuerza" que impulsa a los
        electrones a moverse en un circuito eléctrico. Puedes pensar en ello como la "presión" en un sistema hidráulico.
        Así como el agua se mueve de áreas de alta presión a áreas de baja presión, los electrones, en un circuito
        eléctrico, tienden a moverse de áreas de alto potencial a áreas de bajo potencial.
      </p>
      <div class="row mx-auto">
        <div class="col-lg-6">
          <h5>Unidades</h5>
          <p>
            El voltaje se mide en voltios, que se representa con la letra "V".
          </p>
          <h5>Medición</h5>
          <p>
            El voltaje se mide usando un instrumento llamado voltímetro. Para medir la diferencia de potencial (voltaje)
            entre dos puntos de un circuito, se coloca el voltímetro en paralelo entre esos dos puntos.
          </p>
          <h5>Fuentes de Voltaje</h5>
          <p>
            Existen diferentes dispositivos que pueden generar una diferencia de potencial. Las baterías, por ejemplo,
            crean una diferencia de potencial entre sus terminales, lo que impulsa la corriente a fluir en un circuito.
            Otros ejemplos incluyen generadores, células solares y fuentes de alimentación eléctrica.
          </p>
          <div>
            <img class="w-100" src="../../../../assets/fundamentos/voltaje.png" alt="voltaje.png">
          </div>
        </div>
        <div class="col-lg-6">
          <h5>Tipos de Voltaje</h5>
          <p>
            <span class="bold">Voltaje Continuo (DC o Direct Current)</span>: Es un voltaje que no cambia con el tiempo,
            como el proporcionado por una batería.
            <br>
            <br>
            <span class="bold">Voltaje Alterno (AC o Alternating Current)</span>: Es un voltaje que varía periódicamente
            en magnitud y dirección, como el suministrado por las tomas eléctricas en hogares y empresas.
          </p>
          <h5>Relación con otros componentes</h5>
          <p>
            <span class="bold">En un resistor (usando la Ley de Ohm):</span> V=I x R donde V es el voltaje, I es la
            corriente y R es la resistencia.
          </p>
          <p>
            <span class="bold">En un capacitor:</span> La relación entre la carga (Q) almacenada en el capacitor y el
            voltaje (V) es Q = C X V donde C es la capacitancia del capacitor.
          </p>
          <p>
            <span class="bold">En un inductor:</span> La relación entre la corriente que fluye a través del inductor y
            el voltaje a través del tiempo es V = L x dI/dT donde L es la inductancia y dI/dT es la tasa de cambio de la
            corriente con respecto al tiempo.
          </p>
        </div>
        <div class="col-lg-12 my-5">
          En resumen, el voltaje es un concepto fundamental en electrónica y eléctrica. Es esencial para el
          funcionamiento de cualquier dispositivo electrónico y, por lo tanto, es crucial entenderlo para aquellos que
          trabajan o estudian en estos campos.
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 my-3">
          <h4>Ejemplos practicos de voltaje</h4>
        </div>
        <div class="col-lg-4">
          <h5>Pilas y Baterías</h5>
          <p>
            Una pila AA típica tiene un voltaje nominal de 1.5V. Cuando la conectas a un dispositivo, como una linterna,
            proporciona una diferencia de potencial de 1.5V que impulsa a los electrones a moverse a través del circuito
            de la linterna, encendiendo el LED o la bombilla.
            <br>
            Las baterías recargables de litio-ion que se encuentran en los teléfonos móviles suelen tener un voltaje
            nominal de 3.7V.
          </p>
        </div>
        <div class="col-lg-4">
          <h5>Tomas de Corriente en Hogares</h5>
          <p>
            En muchos países, las tomas de corriente domésticas suministran una corriente alterna (AC) con un voltaje
            nominal de 110V o 220V, dependiendo de la región. Estas tomas se utilizan para alimentar la mayoría de los
            electrodomésticos y dispositivos electrónicos en el hogar.
          </p>
        </div>
        <div class="col-lg-4">
          <h5>Automóviles</h5>
          <p>
            La batería estándar de un automóvil tiene un voltaje de 12V. Esta batería es la que arranca el motor y
            alimenta accesorios como las luces y la radio cuando el motor está apagado.
          </p>
        </div>
        <div class="col-lg-12 my-3">
          <h4>Ejemplos código de voltaje</h4>
        </div>
        <div class="col-lg-12">
          <p>
            En términos de programación, no se maneja directamente el voltaje como se hace con componentes electrónicos.
            Sin embargo, en muchos sistemas embebidos y microcontroladores, es común leer o monitorear voltajes usando
            convertidores analógico-digitales (ADC) o establecer un voltaje en un pin utilizando modulación por ancho de
            pulso (PWM). A continuación, te proporciono algunos ejemplos de código relacionados con el voltaje:
          </p>
          <h4 class="mt-5">Lectura de Voltaje usando un ADC en Arduino</h4>
          <p>
            Supongamos que quieres leer el voltaje en un pin analógico (A0) de un Arduino:
          </p>
          <app-precode [code]="CODE2" [LINE_CODE]="LINE_CODE2" [top]="top" [explain]="explain2"
            [max_line]="max_line2"></app-precode>

          <h4 class="mt-5">Establecer un "voltaje" usando PWM en Arduino</h4>
          <p>
            Supongamos que quieres establecer un voltaje de 2.5V (aproximadamente) en un pin digital (D3) de un Arduino
            usando PWM
          </p>
          <app-precode [code]="CODE2" [LINE_CODE]="LINE_CODE2" [top]="top" [explain]="explain2"
            [max_line]="max_line2"></app-precode>

          <p class="mt-5">
            Estos ejemplos muestran cómo puedes interactuar con voltajes desde el código, ya sea leyendo un valor de
            voltaje o estableciendo un "voltaje" mediante PWM. Es importante tener en cuenta que el código solo
            proporciona una representación digital del voltaje, y el hardware (por ejemplo, el microcontrolador o el
            ADC) es el que realmente interactúa con el voltaje real.
          </p>

        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-5">
      <h3 class="mt-5">Resistencia</h3>
      <p>
        La resistencia es una medida de cuánto se opone un objeto o sustancia al flujo de corriente eléctrica. En
        términos simples, puede pensarse en la resistencia como la "fricción eléctrica".
      </p>
      <div class="row mx-auto">
        <div class="col-lg-6">
          <h5>Unidades y Símbolo</h5>
          <p>
            La resistencia se mide en ohmios, representado por el símbolo Ω.
            <br>
            El símbolo esquemático estándar para una resistencia es una línea en zigzag.
          </p>
          <div>
            <img class="w-100" src="../../../../assets/fundamentos/linea_zigzag.png" alt="linea_zigzag.png">
          </div>
          <h5 class="mt-5">Ley de Ohm</h5>
          <p>
            La Ley de Ohm establece que la corriente que fluye a través de un conductor entre dos puntos es directamente
            proporcional al voltaje a través de los dos puntos e inversamente proporcional a la resistencia. Se formula
            como:
            <span class="bold">I = V/R</span>
            <br>
            Donde:
            I = Corriente (amperios)
            V = Voltaje (voltios)
            R = Resistencia (ohmios)
          </p>
          <h5 class="mt-5">Tipos de Resistencias</h5>
          <p>
            <span class="bold">Resistencias fijas:</span> Tienen un valor constante de resistencia que no cambia.
            <br>
            <span class="bold">Resistencias variables:</span> Permiten cambiar su valor de resistencia, como el
            potenciómetro.
            <br>
            <span class="bold">Resistencias dependientes:</span> Su resistencia cambia basándose en algún parámetro
            externo, como la temperatura (termistores) o la luz (fotoresistencias).
          </p>
        </div>
        <div class="col-lg-6">
          <h5>Resistencias en Circuitos</h5>
          <p>
            <span class="bold">Serie:</span> Cuando las resistencias se conectan en serie, la resistencia total
            (equivalente) es simplemente la suma de las resistencias individuales.
            <br>
            <span class="bold">Paralelo:</span> Cuando las resistencias se conectan en paralelo, la inversa de la
            resistencia total es igual a la suma de las inversas de cada resistencia individual.
          </p>
          <h5 class="mt-5">Efecto Joule</h5>
          <p>
            Cuando la corriente fluye a través de una resistencia, parte de la energía eléctrica se convierte en calor
            debido a la resistencia del material. Este efecto es descrito por la ecuación:
            <br>
            <span class="bold">P = I^2 x R</span>
            <br>
            <br>
            Donde:
            <br>
            <br>
            <span class="bold">P = Potencia (en watts)</span>
            <br>
            <span class="bold">I = Corriente (amperios)</span>
            <br>
            <span class="bold">R = Resistencia (ohmios)</span>
            <br>
            Esta propiedad se explota en dispositivos como calentadores y tostadoras, pero puede ser un efecto no
            deseado en otros dispositivos, donde el exceso de calor puede dañar componentes.
          </p>
          <h5>Aplicaciones y Consideraciones</h5>
          <p>
            Las resistencias son esenciales en la electrónica para limitar la corriente, establecer sesgos de voltaje,
            proteger componentes, entre otras cosas.
            <br>
            Al seleccionar una resistencia para una aplicación específica, es crucial considerar no solo su resistencia
            (valor en ohmios), sino también su potencia nominal <span class="bold">(por ejemplo, 1/4W, 1/2W)</span> y
            tolerancia (por ejemplo,
            ±5%).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <h3>2.2 <span style="font-weight: bold;">Ley de Ohm</span></h3>
    </div>
    <hr>
    <div class="row mx-auto">
      <div class="col-lg-6">
        <p>
          La Ley de Ohm, nombrada en honor a Georg Simon Ohm, un físico alemán que la formuló en 1827, es uno de los
          principios fundamentales en el campo de la electrónica y la electricidad. Esta ley establece una relación
          entre
          el voltaje <span class="bold">(V)</span>, la corriente <span class="bold">(I)</span> y la resistencia <span
            class="bold">(R)</span> en un circuito eléctrico.
        </p>
        <h4>Expresión de la Ley</h4>
        <p>
          La Ley de Ohm puede expresarse con la sencilla ecuación:
          V = I x R
          <br>
          <br>
          Donde:
          <br>
          <br>
          <span class="bold">V</span> es el voltaje o diferencia de potencial (medido en voltios).
          <br>
          <span class="bold">I</span> es la corriente eléctrica (medida en amperios o amperes).
          <br>
          <span class="bold">R</span> es la resistencia (medida en ohmios).
        </p>
      </div>
      <div class="col-lg-6">
        <div>
          <img class="w-100" src="../../../../assets/fundamentos/ley_ohm.png" alt="ley_ohm.png">
        </div>
      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <h4>Implicaciones</h4>
      <p>
        <span class="bold">1 Relación Lineal:</span> La relación entre <span class="bold">V</span> e <span
          class="bold">I</span> es lineal para un resistor, lo que significa que si duplicas el voltaje aplicado a
        través de una resistencia (y todo lo demás permanece constante), la corriente también se duplicará.
        <br>
        <br>
        <span class="bold">Resistencia Constante:</span> En muchos materiales, especialmente en los metales, la
        resistencia
        <span class="bold">R</span> es aproximadamente constante sobre una amplia gama de voltajes y corrientes. Esto
        significa que la relación <span class="bold">V/I</span> es constante para estos materiales.
        <br>
      </p>
    </div>
    <div class="col-lg-6 mt-5">
      <h4>Aplicaciones de la Ley de Ohm</h4>
      <p>
        <span class="bold">Determinación de Componentes:</span> Si se conoce el voltaje y la corriente en un circuito,
        se puede usar la Ley de Ohm
        para determinar la resistencia. Del mismo modo, conociendo cualquier dos de las tres variables <span
          class="bold">(V, I, R)</span>, se
        puede calcular la tercera.
      </p>
      <p>
        <span class="bold">Diseño de Circuitos:</span> La Ley de Ohm es esencial para diseñar circuitos. Por ejemplo, al
        conectar un LED a una
        fuente de alimentación, se puede usar una resistencia para limitar la corriente al LED a un valor seguro. Usando
        la Ley de Ohm, se puede determinar el valor adecuado de esa resistencia.
      </p>
    </div>
    <div class="col-lg-12 mt-3">
      <p>
        La Ley de Ohm es esencialmente una descripción de cómo se comportan los materiales conductores en respuesta a
        una diferencia de potencial aplicada. Es una de las primeras leyes que los estudiantes de electrónica y
        electricidad aprenden, y sigue siendo una herramienta valiosa en la caja de herramientas de cualquier ingeniero
        o técnico. Su simplicidad y universalidad en circuitos resistivos la hacen fundamental en la comprensión y
        diseño de sistemas eléctricos y electrónicos.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12 my-3">
        <h4>Ejemplos practicos de ley ohm</h4>
      </div>
      <div class="col-lg-4">
        <h5>LED y Resistencia Limitadora</h5>
        <p>
          Imagina que tienes un LED que requiere una corriente de 20 mA (0.02 A) para funcionar correctamente y sabes
          que su caída de voltaje es de 2V. Si quieres conectar este LED a una fuente de alimentación de 5V,
          necesitarías una resistencia para limitar la corriente.
          Usando la Ley de Ohm:
          <br>
          Diferencia de voltaje en la resistencia = Voltaje total - Caída de voltaje en el LED = 5V - 2V = 3V
          <br>
          <br>
          R = V/I = 3V/0.02A = 150Ω
          <br>
          Necesitarías una resistencia de aproximadamente <span class="bold">150 ohmios</span> para mantener la
          corriente en el LED cerca de 20
          mA.
        </p>
      </div>
      <div class="col-lg-4">
        <h5>Problema con una Tostadora</h5>
        <p>
          Supón que tienes una tostadora que, cuando está funcionando correctamente, consume una corriente de 8A desde
          una toma de corriente de 120V. Un día, notas que no calienta como debería. Decides medir la corriente y
          descubres que es solo de 4A.
          Usando la Ley de Ohm:
          <br>
          Resistencia original = V/I = 120V/8A = 15Ω
          <br>
          <br>
          Resistencia con el problema = V/I = 120V/4A = 30Ω
          <br>
          El aumento en resistencia podría indicar que parte del elemento calefactor de la tostadora se ha dañado o
          roto, causando que la tostadora no funcione correctamente.
        </p>
      </div>
      <div class="col-lg-4">
        <h5>Determinando el Voltaje en un Circuito</h5>
        <p>
          Imagina que estás construyendo un circuito y usas una resistencia de 220 ohmios. Al medir la corriente que
          fluye a través de la resistencia, encuentras que es de 50 mA (0.05 A). ¿Cuál es la diferencia de potencial o
          voltaje a través de la resistencia?
          <br>
          Aplicando la Ley de Ohm:
          <br>
          <span class="bold">V = I X R = 0.05A x 220Ω = 11V</span>
          <br>
          Por lo tanto, la diferencia de potencial a través de la resistencia es de 11 voltios.
        </p>
      </div>
      <div class="col-lg-12">
        <p>
          Estos ejemplos muestran cómo la Ley de Ohm se aplica en situaciones prácticas, ya sea para diseñar un
          circuito, diagnosticar problemas o simplemente entender el comportamiento de un dispositivo eléctrico.
        </p>
      </div>
      <div class="col-lg-12 my-3">
        <h4>Ejemplos código de la ley de Ohm</h4>
      </div>
      <div class="col-lg-12">
        <div class="row mx-auto">
          <div class="col-lg-6">
            <p>
              la Ley de Ohm se puede representar en código. La Ley de Ohm establece que el voltaje (V) a través de un
              resistor es igual al producto de la corriente (I) que fluye a través de él y su resistencia (R).
              Matemáticamente, esto se representa como:
              <span class="bold">V = I X R</span>
            </p>
            Donde: <br>
            <span class="bold">V</span> es el voltaje (en voltios). <br>
            <span class="bold">I</span> es la corriente (en amperios). <br>
            <span class="bold">R</span> es la resistencia (en ohmios).
          </div>
          <div class="col-lg-6 text-center">
            <img style="width:300px; height: 300px;" src="../../../../assets/fundamentos/ley_ohm2.png"
              alt="ley_ohm2.png">
          </div>
        </div>
        <h4 class="mt-5">Lectura de Voltaje usando un ADC en Arduino</h4>
        <p>
          A continuación, te muestro una simple representación en código de la Ley de Ohm en C++:
        </p>
        <app-precode [code]="CODE4" [LINE_CODE]="LINE_CODE4" [top]="top" [explain]="explain4"
          [max_line]="max_line4"></app-precode>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <h3>2.3 <span style="font-weight: bold;">Circuitos básicos y lectura de diagramas.</span></h3>
      <hr>
      <h3 class="mt-5">Introducción</h3>
      <p class="mt-3">
        Los circuitos eléctricos y electrónicos son combinaciones de componentes interconectados diseñados para realizar
        funciones específicas, como amplificar una señal, convertir energía, procesar datos o recibir y transmitir
        información. Entender cómo leer y analizar estos circuitos es esencial para cualquiera que busque trabajar o
        estudiar en campos relacionados con la electrónica.
      </p>
    </div>
    <div class="col-lg-12">
      <h3>Circuitos Básicos</h3>
    </div>
    <div class="col-lg-6 mt-5">
      <h4>Circuitos en Serie</h4>
      <hr>
      <p>
        En un circuito en serie, los componentes están conectados uno tras otro, lo que significa que la corriente
        eléctrica tiene un solo camino para seguir. <br>
        La resistencia total (Rtotal) en un circuito en serie es la suma de las resistencias individuales: Rtotal = R1 +
        R2 + ... + Rn <br>
        Todos los componentes en serie reciben el mismo valor de corriente.
      </p>
      <h4>Circuitos Paralelos</h4>
      <p>
        En un circuito paralelo, los componentes están conectados en ramas separadas, ofreciendo múltiples caminos para
        la corriente eléctrica.
        <br>
        Para resistencias en paralelo, la inversa de la resistencia total es igual a la suma de las inversas de cada
        resistencia individual.
        <br>
        Todos los componentes en paralelo tienen el mismo valor de voltaje.
      </p>
      <h4>Combinaciones</h4>
      <p>
        Los circuitos reales a menudo tienen componentes tanto en serie como en paralelo. El análisis de estos circuitos
        mixtos puede requerir combinar técnicas y leyes, como la Ley de Ohm o las Leyes de Kirchhoff.
      </p>
    </div>
    <div class="col-lg-6 mt-5">
      <h4>Lectura de Diagramas</h4>
      <hr>
      <h5>Símbolos Estándar</h5>
      <p>
        Los diagramas de circuitos utilizan símbolos estándar para representar diferentes componentes. Por ejemplo:
        <br>
        <br>
        *Una línea en zigzag representa una resistencia. <br>
        *Dos líneas paralelas representan un capacitor. <br>
        *Una bobina representa un inductor. <br>
        *Otros símbolos comunes incluyen los de diodos, transistores, interruptores y fuentes de alimentación. <br>
      </p>
      <h4>Conexiones y Nodos</h4>
      <p>
        Un punto donde dos líneas se encuentran en un diagrama indica una conexión.
        <br>
        Un nodo es un punto donde tres o más líneas se encuentran. En un análisis de circuito, un nodo a menudo
        representa un punto de interés donde se pueden establecer relaciones de voltaje o corriente.
      </p>
      <h4>Referencia de Tierra</h4>
      <p>
        Muchos diagramas muestran un símbolo de tierra, que sirve como punto de referencia para las mediciones de
        voltaje.
      </p>
    </div>
    <div class="col-lg-6 mt-3">
      <div class="text-center">
        <img style="width:300px; height: 300px;" src="../../../../assets/fundamentos/circuito_simple.png"
          alt="circuito_simple.png">
      </div>
    </div>
    <div class="col-lg-6 mt-3 mb-5">
      <div>
        <h4>Conclusión</h4>
        <p>
          La capacidad de interpretar y analizar diagramas de circuitos es un aspecto crucial de la electrónica. Permite
          a ingenieros, técnicos y entusiastas comprender, diseñar, modificar y reparar circuitos. Una comprensión
          sólida de los circuitos básicos, combinada con habilidades en la lectura de diagramas, proporciona una base
          sólida para aventurarse en proyectos más complejos y avanzados en el mundo de la electrónica.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12 my-3">
        <h4>Ejemplos practicos de circuitos basicos y lectura de diagramas</h4>
      </div>
      <div class="col-lg-4">
        <h5>Circuito con una Resistencia y una Fuente de Alimentación</h5>
        <p>
          <span class="bold">Descripción:</span> Es el circuito más básico que uno puede encontrar. Compuesto
          simplemente por una fuente de
          alimentación (como una batería) y una resistencia.
        </p>
        <img class="mt-4" style="width:300px; height: 300px;" src="../../../../assets/fundamentos/ejemplo1.jpg"
          alt="ejemplo1.jpg">
        <p class="mt-5">
          <span class="bold">Interpretación:</span> La batería está representada por las líneas paralelas (| |), donde
          el lado más largo indica el
          polo positivo y el lado más corto indica el negativo. La resistencia (R) está representada por el símbolo en
          zigzag (//).
        </p>
      </div>
      <div class="col-lg-4">
        <h5>Circuito con un LED y una Resistencia</h5>
        <p>
          <span class="bold">Descripción:</span> Un circuito que utiliza una resistencia para limitar la corriente que
          fluye a través de un LED.
        </p>
        <img class="mt-4" style="width:300px; height: 300px;" src="../../../../assets/fundamentos/ejemplo2.jpg"
          alt="ejemplo2.jpg">
        <p class="mt-5">
          <span class="bold">Interpretación:</span> Después de la batería, la corriente pasa a través de la resistencia
          (R) y luego al LED. El LED
          está representado por el símbolo |>|, donde la flecha indica la dirección en la que se espera que fluya la
          corriente (y, por lo tanto, la dirección en la que se encenderá el LED).
        </p>
      </div>
      <div class="col-lg-4">
        <h5>Circuito con una Resistencia en Paralelo</h5>
        <p>
          <span class="bold">Descripción:</span>: Un circuito donde hay dos resistencias en paralelo, conectadas a una
          fuente de alimentación.
        </p>
        <img class="mt-4" style="width:300px; height: 300px;" src="../../../../assets/fundamentos/ejemplo3.png"
          alt="ejemplo3.png">
        <p class="mt-5">
          <span class="bold">Interpretación:</span> La batería alimenta el circuito, que se bifurca en dos caminos en
          paralelo, cada uno con una resistencia (R1 y R2). La corriente se divide entre los dos caminos.
        </p>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <p>
        Estos ejemplos prácticos ilustran cómo se representan los componentes en un diagrama y cómo se conectan entre
        sí. Interpretar correctamente estos diagramas es esencial para entender, diseñar y solucionar problemas en
        circuitos electrónicos.
      </p>
    </div>
    <div class="col-lg-12 mt-3 text-center">
      <h4>Ejemplos código de circuito en serie</h4>
    </div>
    <div class="col-lg-12">
      <div class="row mx-auto mt-2">
        <div class="col-lg-6">
          <p>
            Para un circuito en serie con dos LED: <br>
          </p>
          <ul>
            <li>2 LEDs</li>
            <li>2 resistencias de 220Ω (para proteger los LEDs)</li>
            <li>Arduino (por ejemplo, Arduino Uno)</li>
            <li>Cables de conexión</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p>
            Conexión
          </p>
          <ul>
            <li>Conecta una resistencia al pin 13 del Arduino.</li>
            <li>Conecta el ánodo (la pata más larga) del primer LED a la resistencia.</li>
            <li>Conecta el cátodo (pata más corta) del primer LED al ánodo del segundo LED.</li>
            <li>Conecta el cátodo del segundo LED a GND (tierra) del Arduino.</li>
          </ul>
        </div>
      </div>
      <app-precode class="mt-4" [code]="CODE5" [LINE_CODE]="LINE_CODE5" [top]="top" [explain]="explain5"
        [max_line]="max_line5"></app-precode>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <h3>1.4 Conclusión del Módulo: Fundamentos de Electrónica Básica</h3>
      <hr>
      <p>
        Al concluir este módulo sobre Fundamentos de Electrónica Básica, hemos trazado el camino inicial en el
        fascinante mundo de la electrónica. Hemos explorado los componentes fundamentales, desde resistencias hasta
        transistores, comprendiendo su función y su papel en los circuitos. Además, hemos aprendido a utilizar
        herramientas esenciales, como multímetros y osciloscopios, que nos permiten diagnosticar y analizar circuitos
        electrónicos. <br>
        Cada concepto y habilidad adquirida en este módulo sienta las bases para aventuras más complejas en la
        electrónica. Así como el dominio de las letras y palabras es esencial para leer y escribir textos complejos, el
        conocimiento de los fundamentos de la electrónica nos prepara para diseñar, construir y comprender dispositivos
        y sistemas electrónicos más avanzados. <br>
        Esperamos que este viaje inicial haya despertado una curiosidad y pasión por la electrónica que te motive a
        seguir explorando, experimentando y creando. La electrónica es una ciencia y un arte, y ahora cuentas con las
        herramientas básicas para ser parte de esta emocionante disciplina.
      </p>
    </div>
    <div class="col-lg-6 mt-5">
      <div class="container-img">
        <img src="../../../../assets/fundamentos/final_image.jpg" alt="final_image.jpg">
      </div>
    </div>
    <div class="col-lg-6">
      <a routerLink="/fundamentos/questions" class="btn d-block w-50 mx-auto mt-5 botonColor">
        Vamos aprender más
        <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/questionnaire.png" alt=""></a>
      <a routerLink="/microcontroller" class="btn d-block w-50 mx-auto mt-3 botonColor">
        Siguiente módulo
        <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/next_module.png" alt="">
      </a>
    </div>
  </div>
</section>
<shared-footer></shared-footer>
