<shared-header></shared-header>

<section style="max-width:70%; padding-top: 70px" class="initial-section maxwidth">
  <shared-button-go-back></shared-button-go-back>

  <h3 style="text-align: center;">9. Aplicaciones</h3>
  <article class="ContenedorPadre">
    <p>
      A lo largo de esta exploración, descubriremos casos de uso
      concretos de IoT en diferentes industrias, destacando cómo
      esta tecnología está transformando la forma en que trabajamos,
      vivimos y experimentamos el mundo que nos rodea. Desde la
      automatización agrícola hasta la movilidad urbana, veremos
      cómo IoT está mejorando la eficiencia operativa, optimizando la
      toma de decisiones y brindando servicios inteligentes que marcan
      la pauta hacia un futuro más conectado y sostenible.
    </p>
    <img class="image" src="../../../../assets/mod4/soluciones-iot-agricultura.jpg" alt="">
    <p class="box1">Adéntrate con nosotros en este fascinante viaje a
      través de los ejemplos prácticos de IoT en diferentes sectores,
      y descubre cómo la convergencia entre dispositivos inteligentes
      y plataformas en la nube está transformando nuestra realidad y
      abriendo nuevas posibilidades en un mundo cada vez más interconectado.
      A continuación, se presenta algunos de los casos de uso concretos
      de IoT en diferentes industrias:
    </p>
  </article>

  <article>
    <div>
      <ol>

        <div class="ContenedorPadre">
          <div>
            <h5>
              <li>Agricultura Inteligente:</li>
            </h5>
            <ul>
              <li>Sensores de humedad del suelo y clima que optimizan el riego
                y la aplicación de fertilizantes.</li>
              <li>Drones agrícolas que monitorean cultivos y detectan
                problemas como plagas o enfermedades.</li>
              <li>Ganadería conectada: collares y dispositivos de seguimiento
                para supervisar la salud y ubicación del ganado.</li>
            </ul>
          </div>

          <div>
            <h5>
              <li> Manufactura y Logística:</li>
            </h5>
            <ul>
              <li>Sensores en maquinaria industrial para monitorear su
                rendimiento y prevenir averías.</li>
              <li>IoT en la cadena de suministro para rastrear y optimizar
                el transporte y la gestión de inventario.</li>
              <li>Uso de robots y AGVs (vehículos de guiado automático)
                en fábricas para tareas de ensamblaje y transporte.</li>
            </ul>
          </div>

          <div>
            <h5>
              <li> Salud y Cuidado Médico:</li>
            </h5>
            <ul>
              <li>Dispositivos médicos conectados, como monitores de
                salud portátiles y marcapasos inteligentes.</li>
              <li>Hospitales inteligentes con soluciones de seguimiento
                de activos y gestión de camas.</li>
              <li>Sistemas de salud remotos que permiten la telemedicina
                y la monitorización de pacientes en sus hogares.</li>
            </ul>
          </div>

          <div>
            <h5>
              <li> Transporte y Movilidad:</li>
            </h5>
            <ul>
              <li>Vehículos conectados y autónomos que mejoran la seguridad
                vial y optimizan el consumo de combustible.</li>
              <li>Sistemas de gestión del tráfico y estacionamientos
                inteligentes para reducir la congestión urbana.</li>
              <li>Bicicletas y scooters eléctricos compartidos con rastreo
                y alquiler a través de aplicaciones móviles.</li>
            </ul>
          </div>

          <div>
            <h5>
              <li> Energía y Utilities:</li>
            </h5>
            <ul>
              <li>Redes eléctricas inteligentes (Smart Grids) que ajustan la
                generación y el consumo según la demanda.</li>
              <li>Contadores inteligentes que permiten una facturación más
                precisa y facilitan la gestión del consumo.</li>
              <li>Monitoreo de infraestructuras, como oleoductos y líneas
                de transmisión, para detectar fugas y fallas.</li>
            </ul>
          </div>

          <div>
            <h5>
              <li> Hogar Inteligente: </li>
            </h5>
            <ul>
              <li>Termostatos inteligentes que ajustan la temperatura según
                la presencia y preferencias de los residentes.</li>
              <li>Asistentes virtuales conectados que controlan dispositivos
                del hogar mediante comandos de voz.</li>
              <li>Sistemas de seguridad inteligentes con cámaras y sensores
                para proteger contra robos e incendios.</li>
            </ul>
          </div>

          <div>
            <h5>
              <li> Ciudades Inteligentes:</li>
            </h5>
            <ul>
              <li>Sensores ambientales que monitorean la calidad del aire y
                la contaminación en áreas urbanas.</li>
              <li>Iluminación pública inteligente que se adapta al tráfico
                y a las condiciones ambientales.</li>
              <li>Soluciones de estacionamiento inteligente para ayudar a
                los conductores a encontrar plazas disponibles.</li>
            </ul>
          </div>

        </div>
      </ol>

      <div>
        <p>Estos son solo algunos ejemplos de cómo IoT se está aplicando
          en diversas industrias para mejorar la eficiencia, seguridad y
          calidad de vida. La tecnología IoT sigue evolucionando, y su
          potencial para resolver problemas y transformar industrias
          sigue siendo prometedor.</p>
      </div>

      <div class="codes">
        <h4>Ejemplos Agricultura Inteligente: Optimización del Riego usando Sensores de Humedad del Suelo</h4>
        <app-precode [code]="CODE" [LINE_CODE]="LINE_CODE" [top]="top" [explain]="EXPLAIN" [max_line]="max_line">
        </app-precode>
        <h4 class="mt-5">Ejemplo Hogar Inteligente: Termostato Inteligente</h4>
        <app-precode [code]="CODE2" [LINE_CODE]="LINE_CODE2" [top]="top" [explain]="EXPLAIN2" [max_line]="max_line2">
        </app-precode>
      </div>

    </div>
  </article>

  <hr>

  <article>

    <h3 style="text-align: center;">Selección de Hardware para Proyectos IoT</h3>
    <p>
      Al seleccionar el hardware adecuado para proyectos IoT,
      es importante tener en cuenta diversos factores para
      garantizar que la solución sea eficiente, segura y escalable.
      Aquí tienes algunos consejos y factores a considerar:
    </p>

    <ol>
      <div class="ContenedorPadre">

        <div>
          <img class="image1" src="../../../../assets/mod4/images.jpg" alt="">
        </div>

        <div>
          <h5>
            <li>Requisitos del Proyecto:</li>
          </h5>
          <p>Comprende completamente los requisitos específicos del
            proyecto IoT, incluyendo el tipo de datos que se recopilarán,
            el alcance de la red, las capacidades de comunicación requeridas
            y las tareas que deben realizarse. </p>

          <h5>
            <li>Conectividad: </li>
          </h5>
          <p>Asegurarse que el hardware elegido sea compatible con las
            tecnologías de conectividad necesarias para la aplicación,
            como Wi-Fi, Bluetooth, Zigbee, LoRaWAN o celular.</p>
        </div>

        <div>
          <h5>
            <li>Consumo de Energía: </li>
          </h5>
          <p>Evalúa el consumo de energía del hardware, especialmente
            si los dispositivos IoT funcionarán con baterías o fuentes
            de energía limitadas. Es importante que el hardware sea
            eficiente en el uso de energía para prolongar la vida útil
            de las baterías y reducir los costos operativos.</p>
        </div>

        <div>
          <h5>
            <li>Rendimiento: </li>
          </h5>
          <p>Considera el rendimiento del hardware en términos de
            velocidad de procesamiento, capacidad de almacenamiento
            y capacidad de memoria. Asegurarse de que el hardware pueda
            manejar la cantidad y complejidad de los datos requeridos.</p>
        </div>

        <div>
          <h5>
            <li>Facilidad de Programación y Desarrollo: </li>
          </h5>
          <p>Evalúa la facilidad de programación y desarrollo del hardware.
            Elije plataformas y lenguajes de programación que sean
            familiares para su equipo o que tengan una comunidad de
            soporte activa.</p>
        </div>

        <div>
          <h5>
            <li>Costo:</li>
          </h5>
          <p>Analiza el costo del hardware y asegurando que se ajuste
            a su presupuesto. Considera tanto el costo inicial de
            adquisición como los gastos adicionales asociados con la
            implementación y el mantenimiento.</p>
        </div>

        <div>
          <h5>
            <li>Soporte y Documentación: </li>
          </h5>
          <p>Verificar si el hardware tiene una sólida base de soporte
            y documentación, incluyendo manuales, tutoriales y foros
            de comunidad. Esto será útil durante el desarrollo y la
            resolución de problemas.</p>
        </div>

        <div>
          <h5>
            <li>Seguridad: </li>
          </h5>
          <p>Asegurarse de que el hardware cuente con medidas de
            seguridad adecuadas para proteger los datos y prevenir
            posibles ataques cibernéticos. La seguridad es especialmente
            crucial en proyectos IoT que manejan datos sensibles.</p>
        </div>
        <div>
          <h5>
            <li>Escalabilidad: </li>
          </h5>
          <p>Considerar si el hardware es escalable para futuras
            expansiones o actualizaciones del proyecto IoT.
            La escalabilidad garantizará que su solución pueda crecer y
            adaptarse a medida que cambien las necesidades.</p>
        </div>
        <div>
          <h5>
            <li>Integración con la Nube: </li>
          </h5>
          <p>Verificar si el hardware es compatible con las plataformas
            en la nube que se planea utilizar para almacenar y analizar
            los datos. La integración sin problemas es esencial para
            aprovechar al máximo el potencial de IoT.</p>
        </div>

        <div>
          <h5>
            <li>Certificaciones y Normativas: </li>
          </h5>
          <p>Si el proyecto IoT está relacionado con una industria
            regulada (como la salud o la automoción), asegurarse de que
            el hardware cumpla con las certificaciones y normativas
            necesarias.</p>
        </div>

        <div class="Box2">
          <img style="width: 500px; height: 500px;" src="../../../../assets/mod4/hardware.jpg" alt="">
        </div>


      </div>
    </ol>

    <p>
      Tomarse el tiempo para evaluar y seleccionar el hardware adecuado
      es fundamental para el éxito de un proyecto IoT. Un hardware
      bien elegido permitirá una implementación más suave y eficiente,
      lo que llevará a una solución IoT más robusta y funcional en el
      largo plazo.
    </p>
    <p>
      A continuación, se presenta un cuadro comparativo entre varios
      microcontroladores populares, resaltando sus características y
      capacidades distintivas
    </p>
    <div class="text-center">
      <img style="height: 350px;" src="../../../../assets/mod4/Gráfica Cuadro comparativo Neutro Beige.png" alt="tabla">
    </div>

    <p style="margin-top: 20px;">Es importante tener en cuenta que cada microcontrolador tiene
      sus propias ventajas y desventajas, y la elección del
      microcontrolador adecuado dependerá de las necesidades
      específicas de su proyecto. Al evaluarlos, considera factores
      como la potencia de procesamiento, el consumo de energía, la
      capacidad de memoria, las interfaces de comunicación y la
      disponibilidad de soporte y documentación. Además, considera el
      ecosistema y la comunidad de desarrollo detrás de cada
      microcontrolador, ya que esto puede facilitar el proceso de
      desarrollo y solucionar problemas.</p>


    <h3>Ejemplo: Función para evaluar el consumo de energía</h3>
    <app-precode [code]="CODE3" [LINE_CODE]="LINE_CODE3" [top]="top" [explain]="EXPLAIN3"
      [max_line]="max_line3"></app-precode>

    <h3>Ejemplo: Función para evaluar la compatibilidad de la conectividad</h3>
    <app-precode [code]="CODE4" [LINE_CODE]="LINE_CODE4" [top]="top" [explain]="EXPLAIN4"
      [max_line]="max_line4"></app-precode>


  </article>
  <hr>
  <article class="row">
    <div class="col-lg-12">
      <h3 style="text-align: center;">Información</h3>
      <p>A continuación, se presenta una serie de ejemplos para saber
        qué hardware escoger dependiendo de sus necesidades y
        aplicaciones específicas:</p>
    </div>
    <div class="col-lg-12">
      <div class="row info">
        <div class="col-lg-5">
          <h5 style="text-align: center;">Monitorización de Hogares Inteligentes:</h5>
          <img style="height: 265px; border-radius: 3%; margin-top: 30px;" src="../../../../assets/mod4/automation.jpg"
            alt="HomeIoT">
          <p style="margin-top: 10px;">Para proyectos de hogares inteligentes que involucran
            el control de dispositivos y la monitorización del entorno,
            microcontroladores populares como el <strong>ESP32</strong> o el <strong>Raspberry
              Pi</strong> son excelentes opciones. Estos ofrecen una combinación
            de Wi-Fi y Bluetooth, lo que les permite conectarse y
            controlar una variedad de dispositivos inteligentes.</p>
        </div>
        <div class="col-lg-5">
          <h5 style="text-align: center;">Aplicaciones Médicas y de Salud:</h5>
          <img style="height: 165px; border-radius: 3%; margin-top: 30px;" src="../../../../assets/mod4/MedicoIot.jpg"
            alt="MedioIoT">
          <p style="margin-top: 30px;">Para dispositivos médicos portátiles y aplicaciones
            de salud, microcontroladores con bajo consumo de energía y capacidad de
            procesamiento como el <strong>STM32L4</strong> o <strong>nRF52840</strong> son apropiados. Estos permiten un
            monitoreo continuo y preciso sin agotar rápidamente las baterías.</p>
        </div>
        <div class="col-lg-5">
          <h5 style="text-align: center;">Automatización Industrial:</h5>
          <img style="height: 240px; border-radius: 3%; margin-top: 30px;"
            src="../../../../assets/mod4/bigstock-222061462.jpg" alt="HomeIot">
          <p style="margin-top: 10px;">En aplicaciones industriales que requieren un
            rendimiento robusto y una alta capacidad de procesamiento, los microcontroladores
            de la familia <strong>STM32F4</strong> de STMicroelectronics o los <strong>PIC32</strong> de
            Microchip son adecuados. Estos ofrecen velocidades de reloj más altas y una mayor
            memoria para soportar aplicaciones complejas.</p>
        </div>
        <div class="col-lg-5">
          <h5 style="text-align: center;">Sistemas de Control en Tiempo Real:</h5>
          <img style="height: 225px; border-radius: 3%; margin-top: 30px;"
            src="../../../../assets/mod4/igromi-captura-datos.png" alt="HomeIot">
          <p style="margin-top: 10px;">Para sistemas de control en
            tiempo real que necesitan una respuesta rápida y precisa,
            los microcontroladores con unidades de control de
            interrupciones dedicadas y DMA (Acceso directo a memoria),
            como el <strong>Arduino Due</strong> o <strong>nRF52832</strong>, son recomendados.</p>
        </div>
        <div class="col-lg-5">
          <h5 style="text-align: center;">Dispositivos de Wearables:</h5>
          <img style="height: 202px; border-radius: 3%; margin-top: 30px;"
            src="../../../../assets/mod4/WT-cover-crop.jpg" alt="HomeIot">
          <p style="margin-top: 10px;">Para dispositivos ponibles o
            wearables, el <strong>nRF52840</strong> o el <strong>ESP32</strong> son opciones adecuadas
            debido a su tamaño compacto, bajo consumo de energía y
            funcionalidades inalámbricas integradas.</p>
        </div>
        <div class="col-lg-5">
          <h5 style="text-align: center;">Aplicaciones de Sensores en Red:</h5>
          <img style="height: 170px; border-radius: 3%; margin-top: 30px;" src="../../../../assets/mod4/Sensor.png"
            alt="HomeIot">
          <p style="margin-top: 10px;">Para aplicaciones que requieren
            una amplia distribución de sensores en una red de área
            extensa, los dispositivos con tecnologías de baja potencia
            y largo alcance, como LoRaWAN, son ideales. Ejemplo:
            Dispositivos basados en LoRaWAN como el <strong>Dragino LGT-92</strong> que
            ofrecen larga duración de batería y alcance de varios
            kilómetros.</p>
        </div>
      </div>
    </div>
    <p>
      Recordar que la elección del hardware depende en gran medida de
      los requisitos específicos del proyecto, como el tipo de
      conectividad necesaria, el consumo de energía, el alcance de
      la red, la capacidad de procesamiento y las interfaces de
      comunicación requeridas. Realizar una evaluación detallada de
      las necesidades de la aplicación permitirá seleccionar el
      hardware más adecuado para alcanzar tus objetivos en proyectos de IoT.
    </p>

  </article>
  <hr>

  <article>
    <h3 style="text-align: center;">Recursos y comunidad</h3>
    <p>Para que sigas con el proceso de aprendizaje, acá tienes
      información sobre algunas plataformas y comunidades en línea
      donde los visitantes pueden aprender más y conectarse con otros
      entusiastas de IoT:</p>

    <ol>
      <div class="ContenedorPadre">

        <div>
          <h5>
            <li>Arduino:</li>
          </h5>
          <p>Es una plataforma de código abierto muy popular para
            proyectos de IoT y electrónica en general. Cuenta con una
            gran comunidad en línea donde los usuarios pueden acceder a
            tutoriales, proyectos, foros de discusión y documentación
            detallada. Es ideal para principiantes y ofrece una amplia
            gama de placas y sensores para proyectos IoT. <br>Visita:
            <a href="https://www.arduino.cc/">Arduino</a>
          </p>
        </div>

        <div>
          <h5>
            <li>Raspberry Pi: </li>
          </h5>
          <p>Es otra plataforma de código abierto que ofrece computadoras
            de placa única asequibles y potentes. Tiene una comunidad
            activa que comparte proyectos y guías, ofrece una gran
            cantidad de recursos educativos y técnicos. Raspberry Pi es
            ideal para proyectos más complejos que requieren capacidades
            de computación más avanzadas. <br>Visita:
            <a href=" https://www.raspberrypi.org/">Raspberry Pi</a>
          </p>
        </div>

        <div>
          <h5>
            <li>Hackster.io:</li>
          </h5>
          <p>Es una plataforma en línea que reúne a la comunidad de entusiastas
            de IoT, electrónica y desarrollo de hardware. Los usuarios pueden
            explorar proyectos, compartir sus creaciones y aprender de otros
            miembros de la comunidad. También ofrece desafíos y competiciones
            para fomentar la innovación y la colaboración. <br>Visita:
            <a href="https://www.hackster.io/">Hackster.io</a>
          </p>
        </div>

        <div>
          <h5>
            <li>Instructables:</li>
          </h5>
          <p>Es una comunidad en línea donde los entusiastas pueden compartir
            guías detalladas paso a paso sobre una amplia variedad de
            proyectos, incluidos proyectos de IoT. Los usuarios pueden
            aprender a través de tutoriales y también publicar sus
            propios proyectos para compartir con la comunidad. <br>Visita:
            <a href="https://www.instructables.com/">Instructables</a>
          </p>
        </div>

        <div>
          <h5>
            <li>Element14: </li>
          </h5>
          <p>Element14 es una comunidad de desarrolladores y diseñadores
            que se enfoca en la electrónica, IoT y proyectos de código
            abierto. Ofrece discusiones técnicas, blogs, videos,
            webinars y desafíos para fomentar la colaboración y el
            aprendizaje entre los miembros.<br>Visita:
            <a href="https://www.element14.com/">Element14</a>
          </p>
        </div>

      </div>
    </ol>
    <div class="ContenedorPadre1">
      <p>Estas plataformas y comunidades en línea ofrecen una excelente
        oportunidad para aprender más sobre IoT, obtener inspiración
        para proyectos y conectarse con otros entusiastas y expertos
        en el campo. Son valiosos recursos para aquellos que buscan
        ampliar sus conocimientos y contribuir a la creciente
        comunidad de Internet de las cosas.</p>

    </div>
    <div class="row mx-auto my-5">
      <div class="col-lg-12">
        <h3>Ejemplo: Monitorización de Hogares Inteligentes utilizando ESP32 (Python)</h3>
        <app-precode [code]="CODE5" [LINE_CODE]="LINE_CODE5" [top]="top" [explain]="EXPLAIN5"
          [max_line]="max_line5"></app-precode>
      </div>
      <div class="col-lg-12">
        <a routerLink="/aplicaciones/questions" class="btn d-block w-50 mx-auto mt-5 botonColor">
          Vamos aprender más
          <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/questionnaire.png" alt=""></a>
      </div>
    </div>

  </article>

</section>

<shared-footer></shared-footer>
