<shared-header></shared-header>
<section class="initial-section maxwidth">
  <div class="row">
    <div class="col-lg-6 section-1">
      <h3>Pregunta # 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis debitis earum facere, modi blanditiis
        similique doloribus aperiam porro iste laudantium quis nesciunt praesentium sed ut fugit culpa doloremque
        ducimus? Expedita?
      </p>
    </div>
    <div class="col-lg-6">
      <h3 class="text-center">¿Cual crees que es la respuesta?</h3>
      <div class="w-75 mx-auto mt-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
          <label class="form-check-label" for="flexRadioDefault1"> Default radio </label>
        </div>

        <!-- Default checked radio -->
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked/>
          <label class="form-check-label" for="flexRadioDefault2"> Default checked radio </label>
        </div>
      </div>
    </div>
  </div>
</section>
