.section-1{
  // background-color: rgba(128, 128, 128, .6);
  padding: 20px;
  border-radius: 20px;
}

h3{
  text-align: center;
}

.section-final{
  background-color: rgba(0, 123, 255, .6);
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img{
    width: 100px;
    margin: auto;
  }

}

.card-question{
  background-color: rgb(4, 30, 67);
  color: white;
  border-radius: 15px;
}

.correct{
  background-color: #198754;
  color: white;
}
