<div class="containerNavbar">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [src]="PATHIMG" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active a" aria-current="page" href="https://drive.google.com/file/d/15-Xca15uFUkqzLMieY2_yPX4zfbQUpks/view?usp=drive_link" target="_blank">Manual Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" href="https://drive.google.com/file/d/182_bWZTGh8ZKOfXX5aqF5KHcHFDJQ71P/view?usp=drive_link" target="_blank">Manual Tecnico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a" href="https://drive.google.com/file/d/1DI1pD6ww5c3YHCN9xHjF-Zn0CtM3Nyzr/view?usp=drive_link" target="_blank">Manual de código</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
