<div class="image-container">
  <img src="../../../../assets/Aplicaciones/agricultura.png" alt="Imagen">
  <div [ngClass]="{'Berenjena':Berenjena}"></div>
  <div [ngClass]="{'Berenjena1':Berenjena1}"></div>

  <div [ngClass]="{'Berenjena2':Berenjena2}"></div>
  <div [ngClass]="{'Berenjena21':Berenjena21}"></div>

  <div [ngClass]="{'Flor1':Flor1}"></div>
  <div [ngClass]="{'Flor12':Flor12}"></div>

  <div [ngClass]="{'Flor2':Flor2}"></div>
  <div [ngClass]="{'Flor21':Flor21}"></div>

  <div [ngClass]="{'Zanaoria1':Zanaoria1}"></div>
  <div [ngClass]="{'Zanaoria11':Zanaoria11}"></div>


  <div [ngClass]="{'Zanaoria2':Zanaoria2}"></div>
  <div [ngClass]="{'Zanaoria21':Zanaoria21}"></div>



</div>
