<shared-header></shared-header>
<article class="initial-section w-50 mx-auto mb-5">
  <div class="row mx-auto add_border">
    <div class="col-lg-12 mt-2">
      <h3>Cuestionario seguridad IoT</h3>
      <p>
        ¡Bienvenidos al espacio de preguntas sobre Seguridad en IoT (Internet de
        las Cosas)! Estamos aquí para ayudarte a comprender y abordar los
        desafíos de seguridad que surgen en el emocionante mundo de IoT. Ya sea
        que estés buscando proteger tus dispositivos inteligentes en el hogar,
        asegurar la comunicación entre dispositivos industriales o explorar
        estrategias de seguridad para tu proyecto IoT, estamos aquí para
        proporcionarte la orientación paso a paso que necesitas.
        <br /><br />
        <span class="bold">Actividad:</span>
        Ordena los siguientes pasos de acuerdo a la importancia mencionada en el
        artículo de Seguridad IoT:
      </p>
    </div>
  </div>
  <div class="row gap-3 mt-4">
    <app-drag-question
      *ngFor="let drag of LIST_DRAG_SECURITY"
      [title]="drag.title"
      [orderList]="drag.orderList"
      [newValidation]="newValidation"
    ></app-drag-question>
    <div>
      <button class="btn btn-success mt-2" (click)="validateAnswers()">
        Evaluar cuestionario
      </button>
      <button class="btn btn-warning mt-2 ms-3" routerLink="./..">
        Volver
      </button>
    </div>
  </div>
</article>
