<shared-header></shared-header>
<section class="banner">
  <h2>Aprendiendo IoT con ejemplos del mundo real</h2>
</section>
<section class="maxWidth mx-auto" id="info_data">
  <div class="row text-center">
    <div class="col-6">
      <h3>¿De que trata el software?</h3>
      <hr />
      <p class="text-start">
        Bienvenido al software Aprendiendo IoT con ejemplos del mundo real, tu
        puerta de entrada al apasionante universo del Internet de las Cosas
        (IoT). En un mundo donde la conectividad y la interacción digital se
        vuelven cada vez más omnipresentes, el IoT emerge como la convergencia
        perfecta entre lo cotidiano y la tecnología, transformando nuestro
        entorno en un tejido interconectado de dispositivos inteligentes.
        <br />
        ¿Alguna vez te preguntaste cómo es posible que tu refrigerador te avise
        que la leche está por acabarse? ¿O cómo una ciudad entera puede
        monitorear y optimizar el consumo de agua en tiempo real? Eso, y mucho
        más, es el poder del IoT.
        <br />
        A lo largo de este software, embarcarás en un viaje de descubrimiento:
      </p>
      <ul class="text-start">
        <li>
          <span class="bold">Fundamentos de IoT:</span> Aprende los principios
          básicos que rigen esta revolución tecnológica
        </li>
        <li>
          <span class="bold">Hardware y Software:</span> Desde
          microcontroladores hasta plataformas en la nube, descubre las
          herramientas que dan vida al IoT.
        </li>
        <li>
          <span class="bold">Comunicaciones:</span> Profundiza en las redes y
          protocolos que permiten que los dispositivos "hablen" entre sí.
        </li>
        <li>
          <span class="bold">Aplicaciones Prácticas:</span> Explora cómo el IoT
          está remodelando sectores como la salud, la agricultura, las ciudades
          inteligentes y más.
        </li>
        <li>
          <span class="bold">Seguridad y Ética:</span> Reflexiona sobre los
          desafíos que presenta la conectividad masiva y cómo abordarlos de
          manera responsable.
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h3>¿Que es IoT?</h3>
      <hr />
      <p class="text-start">
        El Internet de las Cosas, conocido por sus siglas IoT (del inglés
        "Internet of Things"), es una evolución tecnológica que representa la
        conexión de objetos y dispositivos cotidianos a la Internet, permitiendo
        una interacción y comunicación sin precedentes entre ellos. A través de
        sensores y actuadores, estos dispositivos pueden recopilar datos de su
        entorno, procesarlos y actuar en consecuencia, ya sea de manera autónoma
        o según las instrucciones recibidas de otros dispositivos o usuarios.
        Desde la simple lámpara en tu hogar que puedes controlar con tu
        smartphone, pasando por relojes inteligentes que monitorizan tu salud,
        hasta sistemas de gestión de tráfico en ciudades que optimizan los
        flujos vehiculares en tiempo real; el IoT está redefiniendo nuestra
        relación con la tecnología y cómo la integramos en nuestra vida diaria.
        Esta revolución no se limita solo a la conveniencia personal. Industrias
        enteras están siendo transformadas por el IoT. La agricultura utiliza
        sensores para optimizar el riego y monitorear la salud de los cultivos.
        Las fábricas se vuelven más eficientes con maquinarias que se
        auto-diagnostican y piden mantenimiento de manera proactiva. Las
        ciudades buscan convertirse en "ciudades inteligentes", utilizando el
        IoT para gestionar residuos, consumo energético, y mejorar la calidad de
        vida de sus habitantes. Sin embargo, con estas grandes oportunidades
        también surgen desafíos. La seguridad, privacidad y la gestión eficiente
        de vastas cantidades de datos son aspectos cruciales que deben abordarse
        para que el IoT alcance su máximo potencial.
      </p>
    </div>
    <div class="col-lg-12 mt-5">
      <h3>Requisitos Previos para el Aprendizaje en nuestro Software de IoT</h3>
      <hr />
      <p>
        El Internet de las Cosas (IoT) es un campo vasto y multidisciplinario que fusiona la electrónica, la
        comunicación, la informática y otros dominios técnicos. Si bien nos esforzamos por hacer que nuestro software de
        aprendizaje sea lo más comprensible y accesible posible, hay ciertos conocimientos fundamentales que pueden
        potenciar significativamente tu experiencia de aprendizaje y permitirte aprovechar al máximo todas las
        funcionalidades y contenidos que ofrecemos.
      </p>
      <div class="row mx-auto mt-5">
        <div class="col-lg-12 text-left">
          <h3>Conocimientos recomendados</h3>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Programación en C++ y Python:</span> Estos dos lenguajes son pilares en el mundo del IoT. C++ es comúnmente
            utilizado en la programación de microcontroladores y hardware, mientras que Python es una opción popular
            para el desarrollo de aplicaciones y análisis de datos en el lado del servidor o la nube.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Conceptos básicos de electrónica:</span> La comprensión de principios fundamentales como corriente, voltaje y
            circuitos será esencial, especialmente cuando se trabaje con dispositivos y sensores en un contexto
            práctico.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Redes y Comunicaciones:</span> Dado que el IoT se centra en la conectividad, tener una noción básica sobre cómo
            funcionan las redes, así como familiaridad con protocolos comunes como HTTP, MQTT y CoAP, será de gran
            ayuda.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Sistemas Operativos:</span> Un conocimiento básico sobre cómo funcionan y se gestionan los sistemas operativos,
            especialmente aquellos orientados a dispositivos IoT como Raspbian (para Raspberry Pi) o FreeRTOS, será
            beneficioso.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <h3>Módulos</h3>
      <p class="text-start">
        Para facilitar tu aprendizaje y garantizar un recorrido coherente por el
        fascinante mundo del Internet de las Cosas, hemos estructurado el
        contenido en módulos específicos. Estos módulos han sido diseñados para
        abordar de manera integral los diferentes aspectos del IoT, desde sus
        fundamentos básicos hasta las aplicaciones más avanzadas en la industria
        y la sociedad. A continuación, se presentan los módulos en los cuales se
        encuentran clasificados todos los temas que exploraremos durante este
        curso
      </p>
    </div>
  </div>
</section>
<section class="modules mt-5">
  <div class="row mx-auto maxWidth row-gap-4">

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/mod1.png" alt="modulo1.png" />
        <div class="card-body">
          <div>
            <h5 style="text-align: center; height: 55px" class="card-title">
              Introducción a IoT
            </h5>
            <p class="card-text">
              En pocas palabras, el internet de las cosas (IOT) está compuesto
              por cualquier cosa u objeto que tenga la capacidad de conectarse a
              internet, sea por vía inalámbrica (WI-FI) o alámbrica (ETHERNET)
              para recibir o enviar datos relevantes, desde vehículos
              automatizados o sensores de temperatura, hasta equipos de cómputo
              completo o Smartphones.
            </p>
          </div>
          <a [routerLink]="ROUTE_PATH_INTRODUCTION" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/fundamentos/main.jpg" alt="main.jpg" />
        <div class="card-body">
          <div>
            <h5 style="text-align: left; height: 55px" class="card-title">
              Fundamentos de Electrónica Básica
            </h5>
            <p class="card-text">
              El módulo de "Fundamentos de Electrónica Básica" busca desentrañar
              los misterios detrás de los circuitos, componentes y señales que
              son la base de estos dispositivos. Aquí, emprenderemos un viaje
              desde entender las partículas más diminutas responsables del flujo
              de corriente, hasta la creación de circuitos que pueden realizar
              tareas específicas.
            </p>
          </div>
          <a routerLink="fundamentos/main" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/microntroller.jpg" alt="Card image cap" />
        <div class="card-body">
          <div>
            <h5 style="height: 55px; text-align: center" class="card-title">
              Introducción a la programación de microcontroladores
            </h5>
            <p class="card-text">
              La programación de microcontroladores es una disciplina esencial
              en la electrónica y la informática embebida, que implica escribir
              código para controlar el funcionamiento de microcontroladores,
              dispositivos altamente especializados que se utilizan en una
              amplia variedad de aplicaciones, desde electrodomésticos hasta
              sistemas de control industrial y dispositivos médicos. Esta
              introducción proporcionará una visión general de los conceptos
              clave en la programación de microcontroladores.
            </p>
          </div>
          <a routerLink="microcontroller" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/aplicaciones.jpg" alt="Card image cap" />
        <div class="card-body">
          <div>
            <h5 style="height: 37px; text-align: center" class="card-title">
              Redes
            </h5>
            <p class="card-text">
              Las redes y las comunicaciones son dos áreas interrelacionadas que
              desempeñan un papel fundamental en la forma en que las personas,
              las organizaciones y las sociedades interactúan, comparten
              información y se mantienen conectadas en la era digital.
            </p>
          </div>
          <a routerLink="/redes/main" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/plataformas-iot/introduction.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 style="height: 37px; text-align: center" class="card-title">
            Plataformas IoT
          </h5>
          <p class="card-text">
            Bienvenidos al módulo sobre Plataformas IoT, un componente esencial
            en el universo del Internet de las Cosas. Si bien los dispositivos y
            sensores son los ojos y oídos del IoT, las plataformas son el
            cerebro que da sentido a la vasta cantidad de datos recopilados,
            facilitando la toma de decisiones, la integración y la interacción
            entre dispositivos.
          </p>
          <a routerLink="/plataformas-iot/main" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/mod2.jpg" alt="Card image cap" />
        <div class="card-body">
          <div>
            <h5 style="height: 55px" class="card-title">
              Presentación de la plataforma gratuita Arduino Iot cloud
            </h5>
            <p class="card-text">
              Las plataformas de IoT son el punto de arranque para lograr la
              interconexión entre todos nuestros dispositivos electrónicos o
              inteligentes. De cierta forma, permiten la creación de entornos
              digitales, capaces de interactuar con grandes cantidades de datos.
            </p>
          </div>
          <a routerLink="/presentationOne/main" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/security.jpg" alt="Card image cap" />
        <div class="card-body">
          <div>
            <h5 style="height: 55px; text-align: center" class="card-title">
              Seguridad IoT
            </h5>
            <p class="card-text">
              La seguridad en IoT es un desafío constante, ya que los
              ciberdelincuentes buscan constantemente nuevas formas de explotar
              vulnerabilidades. Por lo tanto, es fundamental que los
              fabricantes, los proveedores de servicios y los usuarios finales
              trabajen juntos para mantener la seguridad de los dispositivos y
              los datos en el entorno IoT.
            </p>
          </div>
          <a routerLink="security" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <!-- <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/mod3.jpg" alt="Card image cap" />
        <div class="card-body">
          <div>
            <p class="card-text">
              La Tríada del IoT: Explorando las Tres Grandes Dimensiones del
              Internet de las Cosas
              <br />
              Podemos dividir el HW IoT en tres grandes conjuntos: <br /><br />
              Dispositivos o Nodos IoT <br /><br />
              Gateway o Pasarela IoT <br /><br />
              Infraestructura en la Nube o Plataforma IoT <br /><br />
            </p>
          </div>
          <a routerLink="/presentationTwo/main" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div> -->

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/data-analysis.avif" alt="Card image cap" />
        <div class="card-body">
          <div>
            <h5 style="height: 55px; text-align: center" class="card-title">
              Análisis y procedimiento de Datos
            </h5>
            <p class="card-text">
              El análisis y procedimiento de datos es un proceso que implica la
              recopilación, procesamiento y evaluación de datos con el objetivo
              de obtener información valiosa y tomar decisiones informadas, es
              una herramienta valiosa en una amplia variedad de campos, desde
              los negocios y la ciencia hasta la toma de decisiones
              gubernamentales, y puede aprovecharse aún más con el uso de
              tecnologías avanzadas como el aprendizaje automático e
              inteligencia artificial.
            </p>
          </div>
          <a routerLink="data-analysis" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/home/aplicaciones.jpg" alt="Card image cap" />
        <div class="card-body">
          <div>
            <h5 style="height: 37px; text-align: center" class="card-title">
              Aplicaciones
            </h5>
            <p class="card-text">
              El Internet de las cosas (IoT) ha revolucionado nuestra
              interacción con el mundo conectando dispositivos, sensores y
              objetos cotidianos a internet. Esta conexión ha desbloqueado
              numerosas posibilidades, mejorando la eficiencia, comodidad y
              seguridad en ámbitos desde hogares inteligentes hasta industrias.
            </p>
          </div>
          <a routerLink="/aplicaciones/main" class="btnColor">Vamos Aprender</a>
        </div>
      </div>
    </div>
  </div>
</section>
