<shared-header></shared-header>

<section style="max-width:70%; padding-top: 70px" class="initial-section maxwidth">
  <shared-button-go-back></shared-button-go-back>

  <h3 style="text-align: center;">4 Redes y Comunicaciones</h3>
  <article class="ContenedorPadre">
    <p>
      Las redes y las comunicaciones representan una columna vertebral tecnológica en la era digital. Las redes de
      computadoras, que abarcan desde las redes locales (LAN) en hogares y oficinas hasta las vastas redes globales de
      área amplia (WAN) que conectan continentes, permiten la transmisión de información en tiempo real y el intercambio
      de recursos. Los protocolos de red, como TCP/IP, establecen las reglas que rigen esta comunicación, mientras que
      la seguridad de red, mediante la implementación de cortafuegos y cifrado, protege la integridad y confidencialidad
      de los datos.
    </p>
    <img class="image" src="../../../../assets/redes/redes-comunicaciones.jpg" alt="">
    <p class="box1">Por otro lado, las telecomunicaciones se centran en la transmisión de datos, voz y video a través de
      diversos medios, como cables, satélites y tecnologías inalámbricas. Estas tecnologías permiten la comunicación a
      larga distancia, la convergencia de servicios, como las videoconferencias y las transmisiones de datos, y el
      acceso a recursos en línea. En conjunto, las redes y las comunicaciones han transformado la forma en que vivimos y
      trabajamos, impulsando la globalización, la colaboración y la revolución digital en prácticamente todas las
      esferas de la vida moderna. Aquí tienes una descripción más detallada de estos dos conceptos:
    </p>
  </article>

  <article>
    <div class="container text-center">
      <div class="row mb-5">
        <div class="col-lg-6">
          <ol>
            <div>
              <div class="justificado">
                <h2>4.1 Redes</h2>
                <h5>
                  <li> Definición de Redes:</li>
                </h5>

                Una red es un conjunto de dispositivos electrónicos, como computadoras, servidores, dispositivos
                móviles,
                impresoras, enrutadores y conmutadores, que están interconectados para compartir recursos y comunicarse
                entre sí. Estas conexiones permiten la transmisión de datos, voz y video.

              </div>

              <div class="justificado">
                <h5>
                  <li> Topologías de Red:</li>
                </h5>
                Las redes pueden tener diferentes topologías físicas, como topología de estrella, topología de bus,
                topología de anillo y topología de malla. Cada topología tiene sus propias ventajas y desventajas en
                términos de confiabilidad y escalabilidad.
              </div>

              <div class="justificado">
                <h5>
                  <li> Protocolos de Red:</li>
                </h5>

                Los protocolos son reglas y estándares que gobiernan la comunicación en una red. Ejemplos de protocolos
                incluyen TCP/IP (utilizado en Internet), HTTP (para navegación web) y SMTP (para correo electrónico).

              </div>

              <div class="justificado">
                <h5>
                  <li> Tipos de Redes:</li>
                </h5>

                Existen varios tipos de redes, como redes de área local (LAN), redes de área amplia (WAN), redes de área
                metropolitana (MAN) y redes de área global (GAN). Cada tipo tiene un alcance geográfico diferente.

              </div>

              <div class="justificado">
                <h5>
                  <li> Seguridad de Red:</li>
                </h5>

                La seguridad de red es fundamental para proteger la confidencialidad y la integridad de los datos en una
                red. Esto incluye medidas como firewalls, cifrado de datos y autenticación.

              </div>

            </div>
          </ol>
        </div>
        <div class="col-lg-6">
          <ol>


            <div>
              <div class="justificado">
                <h2>4.2 Comunicaciones</h2>
                <h5>
                  <li> Definición de Comunicaciones:</li>
                </h5>
                Las comunicaciones se refieren al proceso de transmitir información, ya sea en forma de datos, voz o
                video, desde un punto de origen a un punto de destino. Esto puede involucrar una variedad de medios y
                tecnologías.
              </div>

              <div class="justificado">
                <h5>
                  <li> Medios de Transmisión:</li>
                </h5>
                Los medios de transmisión son los canales físicos a través de los cuales se envían las señales de
                comunicación. Pueden incluir cables de cobre, cables de fibra óptica, señales de radio, satélites y más.

              </div>

              <div class="justificado">
                <h5>
                  <li> Tecnologías de Comunicación:</li>
                </h5>
                Las tecnologías de comunicación abarcan una amplia gama de sistemas, como telefonía móvil, VoIP (Voice
                over
                IP), radio, televisión, comunicaciones por satélite y, por supuesto, Internet.
              </div>

              <div class="justificado">
                <h5>
                  <li> Comunicación Asincrónica y Sincrónica:</li>
                </h5>

                La comunicación puede ser asincrónica, como el correo electrónico, donde las partes no necesitan estar
                en
                línea al mismo tiempo, o sincrónica, como una llamada telefónica, donde la comunicación es en tiempo
                real.

              </div>

              <div class="justificado">
                <h5>
                  <li> Convergencia:</li>
                </h5>

                La convergencia se refiere a la integración de diferentes tipos de comunicación en una sola plataforma.
                Un
                ejemplo es la convergencia de voz, video y datos en redes y servicios unificados.

              </div>


            </div>

          </ol>
        </div>
      </div>
    </div>

    <div class="row mx-auto">
      <div class="col-lg-12">
        <h3>Ejemplo Enviar un correo electrónico usando el protocolo SMTP</h3>
        <app-precode [code]="CODE1" [LINE_CODE]="LINE_CODE1" [top]="top" [explain]="explain1"
            [max_line]="max_line1"></app-precode>
      </div>
      <div class="col-lg-12 mt-5">
        <h3>Ejemplo C: Programa simple que utiliza TCP/IP para comunicarse (Cliente)</h3>
        <app-precode [code]="CODE2" [LINE_CODE]="LINE_CODE2" [top]="top" [explain]="explain2"
            [max_line]="max_line2"></app-precode>
      </div>
    </div>

    <div class="text-center justificado mt-5">
      <h2 class="mb-3">4.3 Importancia de las Redes y las Comunicaciones</h2>
      <li>
        Facilitan la colaboración global y la transferencia de información en tiempo real.
      </li>
      <li>
        Permiten el acceso a recursos y servicios en línea, desde el correo electrónico hasta el comercio electrónico.
      </li>
      <li>
        Son esenciales en aplicaciones críticas como la telemedicina, la educación en línea y la gestión empresarial.
      </li>
      <li>
        Impulsan la innovación tecnológica y la transformación digital en todas las industrias.
      </li>

    </div>

    <div class="justificado container ">
      <p>En resumen, las redes y las comunicaciones son pilares esenciales en la conectividad global y en la forma en
        que las personas y las organizaciones se comunican y colaboran en la sociedad moderna. Estas áreas continúan
        evolucionando y desempeñan un papel crucial en la tecnología y la vida cotidiana.</p>
    </div>
  </article>

  <hr>

  <div>
    <h2>Algunos Ejemplos clasicos de las redes y las comunicaciones:</h2>
    <ol>

      <div class="ContenedorPadre">
        <img class="image" src="../../../../assets/redes/medios2.jpg" alt="">
        <div class="justificado">
          <h5>
            <li> Comunicación por Correo Electrónico:</li>
          </h5>

          Cuando enviamos un correo electrónico, estamos utilizando redes para transmitir mensajes de texto,
          documentos adjuntos e incluso archivos multimedia a través de servidores y protocolos de correo electrónico.
          Esto es un ejemplo de comunicación asincrónica, ya que no es necesario que el remitente y el destinatario
          estén en línea al mismo tiempo.

        </div>

        <div class="justificado">
          <h5>
            <li> Redes Sociales</li>
          </h5>

          Plataformas como Facebook, Twitter e Instagram utilizan redes para permitir que las personas compartan
          fotos, mensajes y videos con amigos y seguidores en todo el mundo. Las redes sociales utilizan la
          infraestructura de redes para conectar a millones de usuarios y ofrecer una experiencia de comunicación en
          línea.

        </div>

        <div>
          <h5>
            <li> Telefonía Móvil y Mensajería Instantánea:</li>
          </h5>
          Los teléfonos inteligentes y las aplicaciones de mensajería como WhatsApp y Telegram aprovechan las redes de
          telefonía móvil y las redes de datos para permitir llamadas de voz, videollamadas y mensajes de texto en
          tiempo real.
        </div>

        <div class="justificado">
          <h5>
            <li>Aplicaciones de Salud y Telemedicina:</li>
          </h5>
          Las aplicaciones de salud y la telemedicina utilizan redes y comunicaciones para permitir a los pacientes
          consultar a médicos en línea, enviar datos de salud y recibir asesoramiento médico en tiempo real.
        </div>
        <div class="justificado">
          <h5>
            <li>Internet de las Cosas (IoT):</li>
          </h5>
          Dispositivos como termostatos inteligentes, cámaras de seguridad y electrodomésticos conectados dependen de
          redes para recopilar y transmitir datos a través de Internet.
        </div>


      </div>
    </ol>

    <div>
      <p>Estos ejemplos ilustran cómo las redes y las comunicaciones son fundamentales en una amplia gama de
        aplicaciones y servicios que utilizamos en nuestra vida cotidiana, desde la comunicación y el entretenimiento
        hasta la productividad y la atención médica.</p>
    </div>
  </div>

  <hr>
  <article>
    <div>
      <h2 class="centrado">4.4 Fundamentos de redes</h2>
      <div>
        <ol>

          <div class="ContenedorPadre">
            <div>
              <h5>
                <li>TCP/IP (Protocolo de Control de Transmisión/Protocolo de Internet):</li>
              </h5>
              TCP/IP es el conjunto de protocolos más fundamental en Internet y en muchas redes. Define cómo los datos
              deben ser divididos, direccionados, transmitidos, ruteados y recibidos en una red. Consiste en dos
              protocolos principales: TCP (Protocolo de Control de Transmisión) que asegura la entrega confiable de
              datos, y IP (Protocolo de Internet) que maneja la dirección y el ruteo de los datos en la red.
            </div>
            <img class="image" src="../../../../assets/redes/Tipos-de-redes.webp" alt="">
            <div class="justificado">
              <h5>
                <li>Subredes:</li>
              </h5>
              Una subred es una parte lógica de una red IP más grande que se divide en segmentos para facilitar la
              administración y
              el ruteo eficiente de los datos. Las subredes permiten la agrupación de dispositivos en redes más
              pequeñas, y cada subred tiene su propia gama de direcciones IP
            </div>

            <div class="justificado">
              <h5>
                <li> Protocolos de Red:</li>
              </h5>

              Son reglas y estándares que gobiernan la comunicación en una red. Ejemplos de protocolos incluyen HTTP
              (Protocolo de Transferencia de Hipertexto) para la navegación web, SMTP (Protocolo Simple de
              Transferencia de Correo) para el correo electrónico, y ICMP (Protocolo de Mensajes de Control de
              Internet) para la administración de red y diagnóstico.

            </div>

            <div class="justificado">
              <h5>
                <li> Enrutamiento:</li>
              </h5>
              El enrutamiento se refiere al proceso de determinar la ruta más eficiente para transmitir datos desde un
              origen hasta un destino a través de una red. Los protocolos de enrutamiento, como el Protocolo de
              Enrutamiento de Internet (BGP) y el Protocolo de Enrutamiento de Gateway Interior (IGRP), desempeñan un
              papel crucial en este proceso.
            </div>

            <div class="justificado">
              <h5>
                <li> Direcciones IP:</li>
              </h5>
              Las direcciones IP son identificadores únicos asignados a dispositivos en una red. Estas direcciones son
              esenciales para la comunicación y el enrutamiento de datos. Hay dos versiones principales de direcciones
              IP: IPv4 (versión 4) y IPv6 (versión 6), con IPv6 diseñada para abordar la escasez de direcciones en IPv4.
            </div>
            <img class="image" src="../../../../assets/redes/redes-de-alta-velocidad-cuales-son-y-como-funcionan.webp"
              alt="">

            <div class="justificado">
              <h5>
                <li> Modelos de Capas: </li>
              </h5>
              La mayoría de las redes se diseñan siguiendo modelos de capas, como el Modelo OSI (Interconexión de
              Sistemas Abiertos) y el Modelo TCP/IP. Estos modelos dividen las funciones de la red en capas separadas,
              cada una con responsabilidades específicas, lo que facilita el diseño y la solución de problemas de redes
              complejas.
            </div>


          </div>
        </ol>

        <div>
          <p>Estos fundamentos de redes son esenciales para comprender cómo funcionan las redes de computadoras, cómo se
            transmiten los datos y cómo se gestionan los dispositivos en una red. Además, son conocimientos clave para
            quienes trabajan en el campo de la informática y las tecnologías de la información.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <article>

    <h3 class="centrado">4.5 Sistemas operativos especializados para IoT</h3>
    <div>
      <p>Los sistemas operativos especializados para IoT son plataformas diseñadas para gestionar dispositivos
        conectados en el Internet de las Cosas, como Raspbian para Raspberry Pi o Windows IoT Core para aplicaciones de
        IoT basadas en Windows. Estos sistemas optimizan el uso de recursos y ofrecen entornos de desarrollo específicos
        para proyectos de IoT.</p>
      <ol>

        <div class="ContenedorPadre">

          <div>
            <h5>
              <li> Raspbian:</li>
            </h5>
            <ul>
              <li><Strong>Descripción:</Strong> Raspbian es un sistema operativo basado en Linux diseñado
                específicamente para su uso en
                las populares placas Raspberry Pi. </li>

              <li><Strong>Características clave:</Strong> Raspbian incluye una amplia gama de herramientas y bibliotecas
                que facilitan la programación y la interacción con los componentes de hardware de la Raspberry Pi. Es de
                código abierto y es ampliamente utilizado en la comunidad de desarrolladores de IoT debido a su
                simplicidad y flexibilidad. </li>

            </ul>
          </div>

          <div>
            <h5>
              <li> Windows IoT Core:</li>
            </h5>
            <ul>
              <li><Strong>Descripción:</Strong>Windows IoT Core es una versión de Windows 10 diseñada para dispositivos
                IoT, incluidas placas como la Raspberry Pi. Proporciona una plataforma familiar para desarrolladores que
                están acostumbrados a trabajar con Windows.</li>

              <li><Strong>Características clave:</Strong> Ofrece una interfaz de usuario basada en UWP
                (Plataforma Universal de Windows) y es compatible con una variedad de lenguajes y herramientas de
                desarrollo. </li>

            </ul>
          </div>

          <div>
            <h5>
              <li> Linux Yocto Project:</li>
            </h5>
            <ul>
              <li><Strong>Descripción:</Strong>Es un marco de desarrollo de código abierto que permite crear sistemas
                operativos personalizados basados en Linux para dispositivos IoT y embebidos.</li>

              <li><Strong>Características clave:</Strong> ofrece una alta flexibilidad y personalización, lo que lo
                convierte en una opción popular para dispositivos IoT que requieren un sistema operativo a medida. </li>

            </ul>
          </div>

          <div>
            <h5>
              <li> Arduino IoT OS:</li>
            </h5>
            <ul>
              <li><Strong>Descripción:</Strong>Está diseñado para simplificar la programación y la conectividad de
                dispositivos Arduino en proyectos de IoT.</li>

              <li><Strong>Características clave:</Strong> se centra en la facilidad de uso y la programación intuitiva a
                través del entorno de desarrollo Arduino. Permite a los usuarios crear aplicaciones IoT y conectarse a
                diversas plataformas en la nube para la recopilación y el análisis de datos. </li>

            </ul>
          </div>

        </div>
      </ol>

      <div>
        <p>Estos son solo algunos ejemplos de sistemas operativos especializados para IoT. La elección del sistema
          operativo depende de los requisitos específicos del proyecto, la familiaridad con las tecnologías y las
          preferencias de desarrollo de los usuarios. Cada uno de estos sistemas operativos tiene sus propias ventajas y
          aplicaciones adecuadas para diferentes escenarios de IoT.</p>
      </div>
    </div>
  </article>

  <hr>
  <h3 class="centrado">4.6 Plataformas en la nube</h3>
  <article class="ContenedorPadre">

    <p class="box1">
      Las plataformas en la nube son entornos virtuales que permiten a las empresas y desarrolladores almacenar,
      gestionar y procesar datos y aplicaciones en servidores remotos, lo que brinda escalabilidad, flexibilidad y
      acceso global a recursos computacionales y servicios en línea.
    </p>
    <img class="image2" src="../../../../assets/redes/nube.png" alt="">
    <p>Las plataformas en la nube como AWS IoT (Amazon Web Services IoT), Google Cloud IoT y Microsoft Azure IoT son
      soluciones de computación en la nube diseñadas específicamente para admitir aplicaciones y dispositivos en el
      Internet de las Cosas (IoT). Estas plataformas proporcionan servicios y herramientas que permiten la conectividad,
      la administración de dispositivos, la recopilación de datos, el análisis y el procesamiento en tiempo real de
      información generada por dispositivos IoT. <br>Ofrecen una infraestructura escalable y segura que simplifica el
      desarrollo y la implementación de soluciones de IoT, lo que permite a las organizaciones aprovechar al máximo las
      ventajas de la nube para sus proyectos de IoT. Cada una de estas plataformas tiene sus propias características y
      servicios únicos para satisfacer las necesidades variadas de los proyectos de IoT.


    </p>


    <p class="box1">
      <a [routerLink]="QUESTION_PATH" class="btn d-block w-50 mx-auto mt-5 botonColor">
        Vamos aprender más
        <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/questionnaire.png" alt=""></a>

      <a routerLink="/plataformas-iot/main" class="btn d-block w-50 mx-auto mt-3 botonColor">
        Siguiente módulo
        <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/next_module.png" alt="">
      </a>
    </p>



  </article>
</section>


<shared-footer></shared-footer>
