<shared-header></shared-header>
<section class="initial-section w-50 mx-auto">
  <div class="row mx-auto add_border">
    <div class="col-lg-12 mt-2">
      <h3>Cuestionario introducción a la programación de microcontroladores</h3>
      <p>
        ¡Bienvenido al cuestionario sobre la programación de microcontroladores! Este cuestionario ha sido diseñado para
        evaluar y reforzar tus conocimientos en la configuración y gestión de microcontroladores. A lo largo de este
        test, te enfrentarás a una serie de desafíos que te pedirán que ordenes secuencialmente distintas etapas y
        procesos relacionados con la programación de estos dispositivos electrónicos arrastrando y soltando con el raton
        en el orden que sea correcto.<br><br>
        <span class="bold">Actividad:</span> Ordena los siguientes pasos de acuerdo a su secuencia lógica en la
        programación de
        microcontroladores:
      </p>
    </div>
  </div>
  <hr>
  <div class="row mx-auto mb-5">
    <div class="col-lg-12 card-question">
      <h4>1 Tema: Configuración de pines en microcontroladores</h4>
      <div class="drop" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div [cdkDragDisabled]="correct[i]" [ngClass]="{'correct': correct[i]}" *ngFor="let paso of pasos; let i = index" cdkDrag>
          {{i+1}} - {{ paso }}
        </div>
      </div>
    </div>
    <div class="col-lg-12 card-question">
      <h4>2 Tema: Gestión de periféricos en microcontroladores</h4>
      <div class="drop" cdkDropList (cdkDropListDropped)="onDrop2($event)">
        <div [cdkDragDisabled]="correct2[i]" [ngClass]="{'correct': correct2[i]}" *ngFor="let paso of pasos2; let i = index" cdkDrag>
          {{i+1}} - {{ paso }}
        </div>
      </div>
    </div>
    <div class="col-lg-12 card-question">
      <h4>3 Tema: Configuración de modos de bajo consumo en microcontroladores</h4>
      <div class="drop" cdkDropList (cdkDropListDropped)="onDrop3($event)">
        <div [cdkDragDisabled]="correct3[i]" [ngClass]="{'correct': correct3[i]}" *ngFor="let paso of pasos3; let i = index" cdkDrag>
          {{i+1}} - {{ paso }}
        </div>
      </div>
    </div>
    <div class="col-lg-12 card-question">
      <h4>4 Tema: Comunicación Serial en microcontroladores</h4>
      <div class="drop" cdkDropList (cdkDropListDropped)="onDrop4($event)">
        <div [cdkDragDisabled]="correct4[i]" [ngClass]="{'correct': correct4[i]}" *ngFor="let paso of pasos4; let i = index" cdkDrag>
          {{i+1}} - {{ paso }}
        </div>
      </div>
    </div>
    <div class="col-lg-12 py-5">
      <button class="btn btn-success mt-2" (click)="comprobarRespuestas()">Evaluar cuestionario</button>
      <button class="btn btn-warning mt-2 ms-3" (click)="back()">Volver</button>
    </div>
  </div>
</section>
<shared-footer></shared-footer>
