<shared-header></shared-header>

<section style="max-width:70%; margin-bottom: 50px;" class="initial-section maxwidth">
  <div class="row mx-auto">
    <shared-button-go-back></shared-button-go-back>
  </div>
  <div class="row mb-5">
    <div class="col-lg-12 text-left">
      <h3>6 Presentación de la plataforma gratuita Arduino Iot cloud</h3>
    </div>
  </div>
  <div class="row mx-auto mb-5">
    <div class="col-lg-12">
      <h3>6.1 Introducción</h3>
    </div>
    <hr>
    <div class="col-lg-6">
      <p>
        <span class="bold">Arduino</span> es una plataforma de hardware y software de código abierto que se originó en
        Italia en 2005, concebida
        para hacer que la electrónica y la programación sean más accesibles para artistas, diseñadores y aficionados.
        La
        idea detrás de <span class="bold">Arduino</span> surgió de la necesidad de proporcionar a los estudiantes de
        diseño con herramientas de
        bajo costo para la creación de prototipos digitales interactivos.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        El ecosistema <span class="bold">Arduino</span> ha crecido considerablemente desde su creación. Lo que comenzó
        como una simple placa ha
        evolucionado para incluir una variedad de placas con diferentes capacidades y características. El software de
        <span class="bold">Arduino</span>, conocido como IDE de <span class="bold">Arduino</span>, es el ambiente
        donde se escriben y cargan los programas (conocidos como
        sketches) en las placas <span class="bold">Arduino</span>.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        El éxito de Arduino se debe en gran medida a su comunidad. La naturaleza de código abierto de Arduino
        significa que cualquier persona puede contribuir con el diseño de nuevas placas, desarrollar bibliotecas de
        software y compartir sus proyectos con el mundo.
      </p>
    </div>
    <div class="col-lg-6 content-img text-center">
      <img src="../../../../assets/mod2/Interfaz_IoT.png" alt="img">
    </div>
    <div class="col-lg-12 mt-5">
      <h4>¿Qué es el IoT y por qué es relevante?</h4>
    </div>
    <div class="col-lg-6">
      <p>
        IoT, o "Internet de las Cosas", se refiere al creciente número de dispositivos que están conectados a Internet
        y que comunican datos a la nube o entre sí. Estos dispositivos pueden ser desde sensores simples hasta
        electrodomésticos, automóviles y maquinaria industrial.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        La relevancia del IoT radica en su capacidad para transformar la forma en que vivimos y trabajamos. Por
        ejemplo, con IoT, una nevera puede detectar que falta leche y enviar un recordatorio al teléfono del
        propietario. A nivel industrial, los sensores pueden monitorizar maquinarias y predecir cuándo necesitarán
        mantenimiento, ahorrando costes y evitando tiempos muertos.
      </p>
    </div>
    <div class="col-lg-12">
      <p>
        El potencial del IoT es vasto y aún está emergiendo, pero ya está claro que tiene el potencial de revolucionar
        industrias enteras, mejorar la eficiencia, y facilitar la vida cotidiana.
      </p>
    </div>
    <div class="col-lg-12">
      <h4>Ventajas de combinar Arduino con IoT</h4>
      <ul class="mt-5">
        <li><span class="bold">Facilidad de Uso:</span> Arduino es conocido por su simplicidad, lo que lo hace
          perfecto para principiantes que desean experimentar con IoT.</li>
        <li><span class="bold">Coste Efectivo:</span> Las placas Arduino son relativamente baratas, lo que permite a
          los aficionados y profesionales crear prototipos sin una gran inversión inicial.</li>
        <li><span class="bold">Comunidad Activa:</span> Dada la amplia comunidad de Arduino, es fácil encontrar
          soluciones, bibliotecas y ejemplos de otros proyectos de IoT que pueden ser de inspiración o ayuda.</li>
        <li><span class="bold">Flexibilidad:</span> Arduino puede interactuar con una amplia variedad de sensores y
          actuadores, lo que lo hace adecuado para una amplia gama de aplicaciones IoT.</li>
        <li><span class="bold">Integración con Otros Sistemas:</span> Con las bibliotecas y herramientas adecuadas,
          las placas Arduino pueden comunicarse fácilmente con bases de datos, servicios en la nube y otras
          plataformas, facilitando la creación de soluciones IoT completas.</li>
        <li><span class="bold">Desarrollo Rápido:</span> Arduino permite un rápido prototipado, lo que significa que
          puedes tener un proyecto funcional en un tiempo relativamente corto.</li>
      </ul>
      <p class="mt-5">
        Combinar Arduino con IoT abre un mundo de posibilidades para desarrolladores, estudiantes y aficionados. Desde
        proyectos domésticos hasta soluciones industriales, las herramientas y la flexibilidad que ofrece Arduino lo
        convierten en una elección popular para aquellos que buscan sumergirse en el mundo del Internet de las Cosas.
      </p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-lg-12">
      <h3>6.2 ¿Qué es Arduino IoT Cloud?</h3>
    </div>
    <hr>
    <div class="col-lg-12">
      <p>
        Arduino IoT Cloud es una plataforma que facilita la construcción de aplicaciones IoT. Es un servicio ofrecido
        por Arduino para conectar dispositivos al Internet de las Cosas de manera sencilla y segura, sin necesidad de
        ser un experto en redes o seguridad. <br>
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">Definición:</span> Arduino IoT Cloud es un entorno basado en la nube diseñado para
        simplificar y acelerar el
        desarrollo de proyectos IoT usando la familia Arduino. Es una herramienta que automatiza gran parte del
        proceso de conectividad, dejando al desarrollador más tiempo para centrarse en la lógica y funcionalidad del
        proyecto.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">Propósito:</span> El principal objetivo de Arduino IoT Cloud es ofrecer una solución
        completa y fácil de usar que
        permita a usuarios, tanto experimentados como novatos, conectarse al IoT. Se busca proporcionar herramientas
        que faciliten el monitoreo y control remoto de dispositivos Arduino desde cualquier lugar a través de
        Internet.
      </p>
    </div>
    <div class="col-lg-12 mt-5 mb-5">
      <h4>Características principales</h4>
      <hr>
      <ol>
        <li>
          <p>
            Conectividad simplificada: Con solo unos pocos clics, puedes conectar tus dispositivos Arduino a la nube y
            empezar a enviar y recibir datos.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Dashboard personalizable:</span> Arduino IoT Cloud incluye un dashboard visual donde
            puedes diseñar tu propia
            interfaz de usuario para monitorear y controlar tus dispositivos.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Seguridad:</span> La plataforma está diseñada con seguridad en mente, ofreciendo
            comunicación cifrada y
            almacenamiento seguro para tus datos.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Integración con otros servicios:</span> Arduino IoT Cloud puede integrarse con otros
            servicios populares, lo que
            permite enviar datos a otras plataformas o recibir instrucciones de ellas.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Soporte para múltiples dispositivos:</span> Aunque está optimizado para dispositivos
            Arduino, también ofrece
            compatibilidad con otros dispositivos y sensores populares.
          </p>
        </li>
      </ol>
    </div>
    <div class="col-lg-12 mt-2 mb-5">
      <h4>Diferencias entre la versión gratuita y las versiones de pago</h4>
      <hr>
      <ol>
        <li>
          <p>
            <span class="bold">Número de dispositivos:</span> Mientras que la versión gratuita puede tener un límite
            en el número de
            dispositivos que puedes conectar, las versiones de pago te permiten conectar más o incluso un número
            ilimitado de dispositivos, dependiendo del plan.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Historial de datos:</span> Las versiones de pago suelen ofrecer un historial de datos
            más prolongado, permitiendo
            rastrear y analizar datos por un período más extenso que en la versión gratuita.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Velocidad de actualización:</span> Las versiones de pago pueden ofrecer tiempos de
            actualización más rápidos,
            permitiendo una comunicación más fluida y en tiempo real con tus dispositivos.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Soporte técnico:</span> Las versiones de pago suelen incluir un nivel de soporte
            técnico superior, proporcionando
            respuestas más rápidas y soluciones personalizadas a problemas específicos.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Integraciones avanzadas:</span> Algunas funciones, como la integración con servicios
            externos o herramientas
            avanzadas de análisis, pueden estar reservadas para los usuarios de las versiones de pago.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Seguridad avanzada:</span> Las características adicionales de seguridad, como
            autenticación de dos factores o
            certificados de seguridad personalizados, pueden estar disponibles en versiones de pago.
          </p>
        </li>
      </ol>
    </div>
    <div class="col-lg-12">
      <p>
        Eligiendo la versión adecuada depende de las necesidades del proyecto. Para pequeños experimentos o proyectos
        personales, la versión gratuita puede ser suficiente. Sin embargo, para aplicaciones más extensas o de misión
        crítica, vale la pena considerar las versiones de pago.
      </p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-lg-12">
      <h3>6.3 Primeros pasos con Arduino IoT Cloud</h3>
    </div>
    <hr>
    <div class="col-lg-12">
      <p>
        Una vez que has entendido qué es Arduino IoT Cloud y cuáles son sus características, es momento de sumergirte
        en la práctica. Aquí veremos cómo configurar tu cuenta y comenzar a trabajar con la plataforma.
      </p>
    </div>
    <div class="col-lg-6">
      <h4>Registro</h4>
      <ul>
        <li>Ve al sitio web oficial de Arduino IoT Cloud y haz clic en "Registrarse" o "Iniciar sesión".</li>
        <li>Si eres nuevo, necesitarás proporcionar una dirección de correo electrónico, crear una contraseña y seguir
          los pasos de verificación.</li>
        <li>Tras confirmar tu dirección de correo electrónico, tendrás acceso al dashboard de Arduino IoT Cloud.</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h4>Configuración</h4>
      <ul>
        <li>Una vez registrado, puedes configurar detalles adicionales de tu perfil, como nombre, foto de perfil y
          preferencias de notificación.</li>
        <li>También es recomendable revisar la sección de seguridad para establecer medidas adicionales, como la
          autenticación en dos pasos.</li>
      </ul>
    </div>
    <div class="col-lg-12 mt-5 mb-3">
      <h4>Interfaz de usuario: un recorrido por el dashboard</h4>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">1 Dashboard principal:</span> Al iniciar sesión, verás un resumen de tus proyectos
        actuales, dispositivos conectados y
        otras estadísticas relevantes.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">2 Menú lateral:</span> Aquí puedes navegar entre diferentes secciones, como "Mis
        dispositivos", "Mis proyectos",
        "Integraciones" y "Configuración".
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">3 Sección de dispositivos:</span> Te permite ver todos tus dispositivos conectados, su
        estado actual (en línea/fuera de
        línea), y acceder a configuraciones específicas de cada dispositivo.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">4 Sección de proyectos:</span> Aquí puedes crear nuevos proyectos o modificar proyectos
        existentes. Un proyecto agrupa
        a uno o más dispositivos y define cómo interactúan entre ellos y con la nube.
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <span class="bold">5 Ajustes:</span> Una sección donde puedes gestionar aspectos de tu cuenta, como cambiar la
        contraseña, establecer
        preferencias de notificación y gestionar planes de suscripción.
      </p>
    </div>
    <div class="col-lg-12 mt-5 mb-3">
      <h4>Creación de un nuevo proyecto: pasos y recomendaciones</h4>
    </div>
    <div class="col-lg-6">
      <span class="bold">Inicia un proyecto:</span> Desde el dashboard, haz clic en "Crear nuevo proyecto". Esto
      abrirá un asistente para
      guiarte a través del proceso.
    </div>
    <div class="col-lg-6">
      <span class="bold">Define tu proyecto:</span> Proporciona un nombre descriptivo para tu proyecto y una breve
      descripción.
    </div>
    <div class="col-lg-6">
      <span class="bold">Añade dispositivos:</span> Selecciona de tu lista de dispositivos aquellos que formarán parte
      de este proyecto. Si no
      tienes dispositivos configurados, el sistema te guiará para agregarlos.
    </div>
    <div class="col-lg-6">
      <span class="bold">Configura propiedades:</span> Define propiedades (como sensores o actuadores) para tu
      proyecto. Estas propiedades
      determinan qué datos se recopilan y cómo se actúa sobre ellos.
    </div>
    <div class="col-lg-6">
      <span class="bold">Establece reglas:</span> Puedes definir reglas que determinen cómo se comportará tu proyecto
      en función de los datos
      recibidos. Por ejemplo, encender una luz cuando un sensor detecta que está oscuro.
    </div>
    <div class="col-lg-6">
      <span class="bold">Guarda y despliega:</span> Una vez que todo esté configurado, guarda tu proyecto. Después,
      puedes desplegarlo para que
      comience a funcionar en tiempo real.
    </div>
    <div class="col-lg-12 mt-5 mb-3">
      <h4>Recomendaciones</h4>
      <ul>
        <li>Mantén un enfoque claro para cada proyecto. Si tienes diferentes objetivos, considera crear múltiples
          proyectos en lugar de combinar todo en uno solo.</li>
        <li>Revisa regularmente la documentación y las actualizaciones de Arduino IoT Cloud. La plataforma puede
          añadir nuevas características o hacer cambios que pueden beneficiar a tu proyecto.</li>
        <li>Siempre realiza pruebas en un entorno controlado antes de desplegar cambios o nuevos proyectos. Esto te
          ayudará a identificar problemas antes de que afecten tu implementación en vivo.</li>
      </ul>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-lg-12">
      <h3>6.4 Trabajando con dispositivos</h3>
    </div>
    <hr>
    <div class="col-lg-12">
      <p>
        Los dispositivos en un entorno IoT son cruciales, ya que actúan como los puntos de contacto físicos que
        interactúan con el mundo real, recopilando datos y ejecutando acciones basadas en instrucciones recibidas.
        Trabajar con dispositivos en un entorno de nube, como el Arduino IoT Cloud, requiere una comprensión de cómo
        añadir, configurar y gestionar estos dispositivos para asegurar una comunicación eficiente y segura.
      </p>
    </div>
    <div class="col-lg-12">
      <h4>Cómo añadir un nuevo dispositivo (ej. Arduino MKR WiFi 1010)</h4>
      <div class="row mx-auto">
        <div class="col-lg-6">
          <p>
            <span class="bold">Preparación del Dispositivo:</span> Antes de poder añadir un nuevo dispositivo como el
            Arduino MKR WiFi 1010, es
            necesario asegurarse de que tenga la última versión del firmware. Esto se puede hacer a través del IDE de
            Arduino, conectando el dispositivo a la computadora y utilizando el gestor de placas para actualizarlo.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Ingreso a la Plataforma:</span> Una vez que hayas iniciado sesión en Arduino IoT Cloud,
            dirígete a la sección
            "Dispositivos" y haz clic en "Añadir dispositivo".
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Selección del Dispositivo:</span> En la lista de dispositivos disponibles, selecciona
            "Arduino MKR WiFi 1010". La
            plataforma te guiará a través de un proceso de configuración que incluirá la selección de tu red WiFi y la
            introducción de las credenciales de tu red.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Finalización:</span> Una vez configurado, el dispositivo aparecerá en tu lista de
            dispositivos en la plataforma,
            listo para ser utilizado en proyectos.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Configuración y asociación de dispositivos</h4>
      <div class="row mx-auto">
        <div class="col-lg-6">
          <p>
            <span class="bold">Etiquetas y Descripción:</span> Después de añadir el dispositivo, puedes añadir
            etiquetas descriptivas y una
            breve descripción. Esto es útil para gestionar múltiples dispositivos, especialmente en proyectos grandes.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Asociación con Proyectos:</span> Los dispositivos se pueden asociar con proyectos
            específicos. Por ejemplo, si
            tienes un proyecto para monitorear el clima, puedes asociar sensores y actuadores específicos a ese
            proyecto.
          </p>
        </div>
        <div class="col-lg-12">
          <p>
            <span class="bold">Variables de Configuración:</span> Establece variables específicas del dispositivo,
            como la frecuencia de envío
            de datos o umbrales específicos para la activación de alertas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Actualizaciones y manejo de firmware</h4>
      <div class="row mx-auto">
        <div class="col-lg-6">
          <p>
            <span class="bold">Verificación de Actualizaciones:</span> Regularmente, las actualizaciones de firmware
            se lanzan para abordar
            problemas de seguridad, añadir características o mejorar la eficiencia del dispositivo. Es vital comprobar
            regularmente las actualizaciones disponibles.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Backup y Restauración:</span> Antes de actualizar el firmware, es una buena práctica
            realizar una copia de
            seguridad de la configuración y los datos actuales del dispositivo. En caso de problemas durante la
            actualización, esto te permite restaurar el dispositivo a su estado anterior.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Actualización:</span> Con el dispositivo conectado a tu computadora, utiliza el IDE de
            Arduino o la plataforma
            Arduino IoT Cloud para iniciar el proceso de actualización. Sigue las instrucciones en pantalla para
            completar la actualización.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <span class="bold">Verificación Post-Actualización:</span> Una vez actualizado el firmware, verifica que
            el dispositivo funcione
            correctamente y que todas las características y funciones estén operativas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Conexión al WiFi con Arduino MKR WiFi 1010</h4>
      <app-precode [code]="CODE1" [LINE_CODE]="LINE_CODE1" [top]="top" [explain]="explain1"
        [max_line]="max_line1"></app-precode>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Enviar datos a la nube (por ejemplo, a través de MQTT)</h4>
      <app-precode [code]="CODE2" [LINE_CODE]="LINE_CODE2" [top]="top" [explain]="explain2"
        [max_line]="max_line2"></app-precode>
      <p class="mt-5">
        Este código conecta una placa Arduino a una red WiFi y luego al servidor MQTT especificado. Una vez conectado,
        continuamente lee un valor del pin analógico A0, lo formatea en una cadena y lo publica en un tema del
        servidor MQTT. También está preparado para manejar los mensajes recibidos del servidor, aunque la función de
        callback está vacía.
      </p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-lg-12">
      <h3>6.5 Integraciones y Servicios de Terceros</h3>
    </div>
    <hr>
    <div class="col-lg-12">
      <p>
        La verdadera potencia del Internet de las Cosas (IoT) radica en la capacidad de interconectar diferentes
        dispositivos y plataformas. Arduino IoT Cloud no es una excepción y, al integrarse con otros servicios,
        potencia
        su utilidad al máximo.
      </p>
    </div>
    <div class="col-lg-6">
      <h4>Conectar Arduino IoT Cloud con otros servicios</h4>
      <ul>
        <li>
          <p>
            IFTTT (If This Then That): IFTTT es un servicio que permite a los usuarios crear cadenas de simples
            declaraciones condicionales, llamadas "applets". Por ejemplo, podrías configurar una applet de IFTTT que,
            cuando tu Arduino detecte una cierta condición (ej., una planta necesita agua), envíe una notificación a
            tu
            teléfono. Arduino IoT Cloud y IFTTT se pueden conectar para lograr esto.
          </p>
        </li>
        <li>
          <p>
            Webhooks: Los webhooks son una forma de que las aplicaciones se comuniquen entre sí automáticamente. Por
            ejemplo, cuando un evento sucede en Arduino (un sensor detecta movimiento), podría activar un webhook que
            luego realiza una acción en otra plataforma, como enviar un mensaje a través de Slack o actualizar una
            base
            de datos.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h4>Posibilidades y ejemplos prácticos de integración</h4>
      <ul>
        <li>
          <p>
            Notificaciones: Utiliza IFTTT para recibir una notificación en tu teléfono si una lectura de sensor excede
            un valor específico.
          </p>
        </li>
        <li>
          <p>
            Automatización del hogar: Si un sensor Arduino detecta que la temperatura cae por debajo de un cierto
            nivel,
            a través de IFTTT, podrías encender automáticamente un termostato inteligente en tu casa.
          </p>
        </li>
        <li>
          <p>
            Actualizaciones en tiempo real: Usa webhooks para enviar datos de sensores en tiempo real a una base de
            datos o plataforma de análisis.
          </p>
        </li>
        <li>
          <p>
            Integración con plataformas de medios sociales: Por ejemplo, puedes configurar tu sistema para que, cuando
            un sensor detecte algo, automáticamente publique un tweet a través de IFTTT.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-12">
      <h4>Limitaciones y consideraciones</h4>
      <ul>
        <li>
          <p>
            Latencia: Al depender de servicios externos, especialmente en la cadena Arduino > IoT Cloud > Servicio de
            terceros, se puede introducir latencia.
          </p>
        </li>
        <li>
          <p>
            Seguridad: Cada vez que se conecta con un servicio externo, hay que considerar las implicaciones de
            seguridad. Asegúrate de que las integraciones estén protegidas adecuadamente y no expongan datos
            sensibles.
          </p>
        </li>
        <li>
          <p>
            Dependencia de servicios: El estado operativo y la evolución de los servicios de terceros están fuera de
            tu
            control. Si un servicio como IFTTT cambia su API o sus términos de servicio, podría afectar tu
            integración.
          </p>
        </li>
        <li>
          <p>
            Costo: Algunas integraciones, especialmente aquellas que manejan grandes cantidades de datos o requieren
            procesamiento en tiempo real, podrían incurrir en costos adicionales.
          </p>
        </li>
        <li>
          <p>
            Complejidad: A medida que se agregan más servicios y la cadena de integración se expande, también lo hace
            la
            complejidad. Es importante documentar y comprender bien las integraciones para poder solucionar problemas
            y
            hacer cambios en el futuro.
          </p>
        </li>
      </ul>
      <p class="mt-5">
        En resumen, integrar Arduino IoT Cloud con servicios de terceros puede ampliar enormemente las capacidades y
        aplicaciones de tus proyectos de IoT. Sin embargo, es crucial abordar estas integraciones con una comprensión
        clara de las ventajas, limitaciones y desafíos potenciales.
      </p>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Integración con IFTTT</h4>
      <p>
        Para este ejemplo, supongamos que tienes un Arduino con un sensor de temperatura y deseas recibir una
        notificación en tu teléfono si la temperatura excede un cierto umbral.
      </p>
      <p>
        Paso 1: En Arduino IoT Cloud
      </p>
      <ul>
        <li>Configura tu dispositivo y sensor en Arduino IoT Cloud.</li>
        <li>Crea un evento que se active cuando la temperatura exceda el umbral deseado.</li>
      </ul>
      <p>
        Paso 2: En IFTTT
      </p>
      <ul>
        <li>Crea una nueva Applet.</li>
        <li>Para el servicio "this", selecciona "Webhooks".</li>
        <li>Define el trigger para recibir datos del Arduino IoT Cloud.</li>
        <li>Para el servicio "that", elige el servicio de notificaciones de tu teléfono y configura el mensaje que
          deseas recibir.</li>
      </ul>

      <app-precode [code]="CODE3" [LINE_CODE]="LINE_CODE3" [top]="top" [explain]="explain3"
        [max_line]="max_line3"></app-precode>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Integración con Webhooks</h4>
      <p>
        Supongamos que deseas enviar datos de un sensor en tiempo real a una base de datos mediante webhooks.
      </p>
      <app-precode [code]="CODE4" [LINE_CODE]="LINE_CODE4" [top]="top" [explain]="explain4"
        [max_line]="max_line4"></app-precode>
      <p class="mt-5">
        Este código está diseñado para conectarse a una red WiFi, leer un valor de un sensor conectado al pin A0, y
        luego enviar ese valor a un servidor a través de una solicitud HTTP POST. Luego, muestra el código de
        respuesta HTTP en el monitor serial.
      </p>
    </div>
  </div>
  <div class="row mx-auto mt-3">
    <div class="col-lg-12">
      <h3>6.6 Seguridad en Arduino IoT Cloud</h3>
    </div>
    <hr>
    <div class="col-lg-12">
      <p>
        El auge del Internet de las Cosas (IoT) ha llevado a un incremento en la cantidad de dispositivos conectados a
        Internet. Mientras que esto ofrece un sinfín de posibilidades en cuanto a conectividad y automatización,
        también presenta riesgos significativos en términos de seguridad. Las vulnerabilidades en dispositivos IoT
        pueden ser explotadas para realizar ataques, robar datos, o incluso tomar control de dispositivos.
      </p>
    </div>
    <div class="col-lg-12">
      <h4>Importancia de la seguridad en IoT</h4>
      <ul>
        <li>
          Integridad de Datos: Con un flujo constante de datos entre dispositivos y la nube, es crucial garantizar que
          estos datos no sean alterados en tránsito.
        </li>
        <li>
          Privacidad: Los dispositivos IoT pueden recolectar información sensible, desde patrones de consumo eléctrico
          en una casa hasta datos de salud personal. Proteger esta información es esencial.
        </li>
        <li>
          Disponibilidad: Los ataques, como los de Denegación de Servicio (DoS), pueden hacer que los dispositivos IoT
          dejen de funcionar, con potenciales consecuencias catastróficas si se trata, por ejemplo, de sistemas de
          monitoreo médico.
        </li>
        <li>
          Confianza del Usuario: Para que el IoT sea ampliamente adoptado, los usuarios necesitan confiar en que sus
          dispositivos y los datos que generan están seguros.
        </li>
      </ul>
    </div>
    <div class="col-lg-12  mt-5">
      <h4>Características de seguridad ofrecidas por Arduino IoT Cloud</h4>
      <ul>
        <li>
          <p>
            <span class="bold">Autenticación de Dos Factores (2FA):</span> Esta función añade una capa adicional de
            seguridad al requerir no
            solo una contraseña, sino también un segundo factor (generalmente un código temporal) para acceder a la
            cuenta.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Comunicación Encriptada:</span> Arduino IoT Cloud utiliza protocolos de encriptación
            para garantizar que los
            datos transmitidos entre el dispositivo y la nube estén protegidos.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Actualizaciones Regulares:</span> La plataforma ofrece actualizaciones periódicas para
            abordar vulnerabilidades
            conocidas y mejorar la seguridad.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Gestión Segura de Dispositivos:</span> Proporciona herramientas para gestionar
            dispositivos de forma segura,
            permitiendo a los usuarios configurar, monitorizar y, si es necesario, revocar el acceso a dispositivos
            individuales.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-12 mt-5">
      <h4>Buenas prácticas para mantener tus dispositivos y datos seguros</h4>
      <ul>
        <li>
          <p>
            <span class="bold">Contraseñas Fuertes:</span> Siempre usa contraseñas robustas y únicas para tu cuenta en
            Arduino IoT Cloud y
            cualquier otro servicio relacionado.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Actualizaciones:</span> Asegúrate de mantener todos tus dispositivos y la plataforma
            Arduino actualizados con el
            software más reciente.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Limitar Accesos:</span> No todos los usuarios necesitan acceso completo a todos los
            aspectos de tu sistema IoT.
            Otorga permisos basados en roles y necesidades.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Red Segura:</span> Utiliza redes protegidas con firewalls y considera la posibilidad de
            establecer una red
            separada solo para tus dispositivos IoT.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Monitorización:</span> Mantén un registro y monitoriza regularmente la actividad en tu
            Arduino IoT Cloud para
            detectar cualquier comportamiento inusual.
          </p>
        </li>
        <li>
          <p>
            <span class="bold">Desactiva Características No Esenciales:</span> Si hay funciones en tu dispositivo o en
            la plataforma que no
            estás utilizando, considera desactivarlas para reducir posibles puntos de entrada para atacantes.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-12 mt-2">
      <p>
        En resumen, mientras que Arduino IoT Cloud ofrece múltiples características para garantizar la seguridad de
        los dispositivos y datos, es esencial que los usuarios también adopten prácticas seguras para maximizar la
        protección de sus sistemas IoT.
      </p>
    </div>
  </div>
  <div class="row mx-auto mt-3">
    <div class="col-lg-12 mt-5">
      <h4>Autenticación de Dispositivos</h4>
      <p>
        Para asegurarse de que sólo los dispositivos confiables se conecten a tu red o plataforma, puedes establecer
        claves de autenticación únicas
      </p>
      <app-precode [code]="CODE5" [LINE_CODE]="LINE_CODE5" [top]="top" [explain]="explain5"
        [max_line]="max_line5"></app-precode>
    </div>
  </div>
  <div class="row mx-auto mt-">
    <div class="col-lg-12 mt-5">
      <h4>Transmisión Encriptada de Datos</h4>
      <p>
        Para transmitir datos encriptados, podrías usar una librería de encriptación como AES (por ejemplo, la
        librería Arduino Cryptographic Library)
      </p>
      <app-precode [code]="CODE6" [LINE_CODE]="LINE_CODE6" [top]="top" [explain]="explain6"
        [max_line]="max_line1"></app-precode>
    </div>
  </div>
  <div class="row mx-auto mt-5">
    <div class="col-lg-6">
      <h3>6.4 Conclusión del Módulo: Presentación de la Plataforma Gratuita Arduino IoT Clou6</h3>
      <hr>
      <p>
        Al concluir este módulo sobre la plataforma gratuita Arduino IoT Cloud, queda claro que el Internet de las
        Cosas (IoT) no es solo una tendencia tecnológica, sino una revolución en la forma en que los dispositivos
        interactúan, recopilan y comparten datos. Arduino, conocido por su simplicidad y accesibilidad, ha dado un
        paso adelante al integrarse en este ecosistema de IoT, facilitando a entusiastas, desarrolladores y
        profesionales la creación de proyectos inteligentes y conectados. <br>
        La plataforma Arduino IoT Cloud demuestra ser una herramienta poderosa, capaz de ofrecer soluciones integradas
        desde la recopilación de datos hasta su visualización y análisis. Su interfaz amigable, junto con la capacidad
        de integrarse con otros servicios y la priorización de la seguridad, la convierten en una opción sólida para
        aquellos que desean incursionar en el mundo del IoT. <br>
      </p>
    </div>
    <div class="col-lg-6">
      <a routerLink="/plataformas-iot/questions" class="btn d-block w-50 mx-auto mt-5 botonColor">
        Vamos aprender más
        <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/questionnaire.png" alt=""></a>
      <a routerLink="/presentationOne/main" class="btn d-block w-50 mx-auto mt-3 botonColor">
        Siguiente módulo
        <img style="width: 30px;" class="ms-3" src="../../../../assets/icons/next_module.png" alt="">
      </a>
    </div>
  </div>
</section>

<shared-footer></shared-footer>
