<shared-header></shared-header>

<section style="max-width:70%" class="initial-section maxwidth">
  <div class="row mx-auto reduce-60">
    <shared-button-go-back></shared-button-go-back>
    <div class="row mx-auto">
        <div class="col-lg-6">
          <h3>2.1 Que es una plataforma IoT?</h3>
          <p>
              Las plataformas de IoT son el punto de arranque para lograr la interconexión entre todos nuestros dispositivos electrónicos o inteligentes. De cierta forma, permiten la creación de entornos digitales, capaces de interactuar con grandes cantidades de datos.Estos ambientes de comunicación multicanal y multidispositivo han hecho de las plataformas de IoT uno de los recursos de mayor auge en la actualidad.
          </p>
        </div>
      <div class="col-lg-6">
        <p class="mt-5">
            Y su aplicación, antes de parecer lejana, es hoy inminente en ambientes de trabajo y domésticos. En otras palabras, es un servicio que le ayuda a poner los objetos físicos en línea. Esta plataforma le proporcionará los servicios para conectar los dispositivos de una máquina a la comunicación de la máquina.
        </p>
      </div>
      <p class="mt-5"><b>Para ser considerada una plataforma IOT debe interactuar con estos 4 factores: </b></p>
      <div class="col-lg-6 mt-5 mx-auto">
          <h3>- Hardware:</h3>
          <p class="mt-3">
              Dispositivos que pueden obtener información o con el cual se pueda interactuar con el entorno físico, como lo haría un sensor, motores o iluminación.
          </p>
          <p class="mt-2">
              Empezando por el corazón de estos dispositivos, nos encontramos con los microcontroladores o MCU, se trata de un semiconductor que contiene entre otras cosas, CPU, Memoria, tanto RAM como memoria persistente, módulos de interfaz como de entradas y salidas analógicas y/o digitales, interfaces UART, I2C y toda la electrónica necesaria para que funcione (reloj, multiplexores, etc.).
          </p>
          <p class="mt-2">
              Un paso más arriba se encuentran los Sistems on chip o SoC, digamos que un SoC es un microcontrolador con todo lo necesario para que pueda funcionar de manera autónoma como si fuera un ordenador, dependiendo del fabricante puede hasta incluir memora masiva para almacenamiento de programas en el propio chip, conectividad Wifi, bluetooth, etc.
          </p>
      </div>
      <div class="col-lg-6">
        <div class="content-img text-center">
            <img src="../../../../assets/mod2/Hardware_IoT.png" alt="img">
        </div>
      </div>
        <div class="col-lg-6 mt-5 mx-auto">
          <h3>- Software:</h3>
          <p class="mt-3">
              El sistema virtual que interpretará esos datos que ya fueron recolectados y decidirá cómo interactuar en todo momento con el hardware.
          </p>
          <p class="mt-2">
              El software IoT tradicional ayuda a las empresas a orquestar el diseño, la producción y el soporte de los productos. Proveedores como Dassault Systemes, PTC y Siemens se asociaron con plataformas de software de IoT o las adquirieron para facilitar el desarrollo de productos conectados mediante la combinación de materiales mecánicos, eléctricos y de software y para iterar diseños de forma interactiva entre las partes interesadas.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content-img text-center">
              <img src="../../../../assets/mod2/Software_IoT.png" alt="img">
          </div>
        </div>
        <div class="col-lg-6 mt-5 mx-auto">
          <h3>- Conectividad:</h3>
          <p class="mt-3">
              El medio/vía de comunicación en el que ocurre la transmisión de lo que ha recolectado el dispositivo y necesita compartir a la base que interpretará la información.
          </p>
          <p class="mt-2">
              Al hacer referencia a la conectividad IoT se describe la red específica de soluciones que pueden activar este tipo de conectividad. Puede ser wifi, móvil o LPWAN, por mencionar algunas. A la hora de elegir la mejor opción de conectividad IoT para ti o para tu negocio, puedes contemplar tres aspectos: capacidad de ancho de banda (velocidad), rango de cobertura y consumo de energía. Puede ser difícil encontrar una opción que priorice estos tres factores, por lo que es importante entender cuáles son tus requisitos de cara al IoT antes de decantarte por una solución concreta.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content-img text-center">
              <img src="../../../../assets/mod2/Conectividad_IoT.png" alt="img">
          </div>
        </div>
        <div class="col-lg-6 mt-5 mx-auto">
          <h3>- Interfaz:</h3>
          <p class="mt-3">
              También conocida como DASHBOARD son los tableros o interfaz de control con la que se encuentra el usuario en el momento de interactuar con el sistema; Que le permite a los usuarios monitorear e interactuar con dispositivos conectados a través de gráficos, cuadros y otras herramientas y elementos de la interfaz de usuario. Los paneles le permiten administrar todos los aspectos de sus dispositivos conectados, así como obtener una perspectiva de su entorno a través de la visualización de los datos de su dispositivo.
          </p>
          <p class="mt-2">
              Dado que los paneles de IoT se ubican sobre la funcionalidad central proporcionada por una plataforma de IoT, los usuarios pueden personalizar fácilmente sus paneles sin causar interrupciones en el procesamiento de datos del dispositivo. Además de usar tableros, también pueden enviar datos de IoT a sus propias herramientas para la representación gráfica de datos, informes, análisis, CRM, etc.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content-img text-center">
              <img src="../../../../assets/mod2/Interfaz_IoT.png" alt="img">
          </div>
        </div>
      </div>
    </div>
</section>


<shared-footer></shared-footer>
