.size{
  height: 30px;
  width: 110px;
 }
 .sizeImag{
  height: 30px;
  width: 30px;
  padding-right: 3px;
 }

 .styleFont{
  font-size: 15px;
  color: black;
  text-decoration:none
 }

.styleFont:hover{
  color: #94ccfa;
 }
