.image-container {
  position: relative;
  display: inline-block;

}

img {
  max-width: 100%;
  height: auto;
}

.Cuarto1 {
  position: absolute;
  top: 1.5%; /* Ajusta la posición vertical de la iluminación según tus necesidades */
  left: 58%; /* Ajusta la posición horizontal de la iluminación según tus necesidades */
  width: 40%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  height: 50%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  background-color: rgba(183, 209, 13, 0.581); /* Ajusta la opacidad según tus preferencias */
  shape-outside: inset(20px); /* Aplicar una máscara circular */
  pointer-events: none; /* Para que los eventos del mouse pasen a través de la capa */
}

.Cuarto2 {
  position: absolute;
  top: 1%; /* Ajusta la posición vertical de la iluminación según tus necesidades */
  left: 1.5%; /* Ajusta la posición horizontal de la iluminación según tus necesidades */
  width: 40%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  height: 50%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  background-color: rgba(183, 209, 13, 0.581); /* Ajusta la opacidad según tus preferencias */
  shape-outside: inset(20px); /* Aplicar una máscara circular */
  pointer-events: none; /* Para que los eventos del mouse pasen a través de la capa */
}

.Baño {
  position: absolute;
  top: 1%; /* Ajusta la posición vertical de la iluminación según tus necesidades */
  left: 41.5%; /* Ajusta la posición horizontal de la iluminación según tus necesidades */
  width: 17%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  height: 50%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  background-color: rgba(209, 72, 13, 0.581); /* Ajusta la opacidad según tus preferencias */
  shape-outside: inset(20px); /* Aplicar una máscara circular */
  pointer-events: none; /* Para que los eventos del mouse pasen a través de la capa */
}

.Cocina {
  position: absolute;
  top: 51%; /* Ajusta la posición vertical de la iluminación según tus necesidades */
  left: 82%; /* Ajusta la posición horizontal de la iluminación según tus necesidades */
  width: 17%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  height: 48%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  background-color: rgba(209, 72, 13, 0.581); /* Ajusta la opacidad según tus preferencias */
  shape-outside: inset(20px); /* Aplicar una máscara circular */
  pointer-events: none; /* Para que los eventos del mouse pasen a través de la capa */
}

.Comedor {
  position: absolute;
  top: 51%; /* Ajusta la posición vertical de la iluminación según tus necesidades */
  left: 8%; /* Ajusta la posición horizontal de la iluminación según tus necesidades */
  width: 35%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  height: 48%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  background-color: rgba(209, 72, 13, 0.581); /* Ajusta la opacidad según tus preferencias */
  shape-outside: inset(20px); /* Aplicar una máscara circular */
  pointer-events: none; /* Para que los eventos del mouse pasen a través de la capa */
}

.Sala {
  position: absolute;
  top: 51%; /* Ajusta la posición vertical de la iluminación según tus necesidades */
  left: 43%; /* Ajusta la posición horizontal de la iluminación según tus necesidades */
  width: 30%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  height: 48%; /* Ajusta el tamaño de la iluminación según tus necesidades */
  background-color: rgba(189, 209, 13, 0.581); /* Ajusta la opacidad según tus preferencias */
  shape-outside: inset(20px); /* Aplicar una máscara circular */
  pointer-events: none; /* Para que los eventos del mouse pasen a través de la capa */
}
